.navigation {
  text-decoration: none;

  &__list {
    display: flex;
    color: $Dark50;
    font-weight: 400;
    font-size: rem(14);
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    list-style: none;
    text-decoration: none;
  }

  &__item {
    margin-right: rem(20);
    
    &_active {
      color: $Dark75;
      font-weight: 700;

      .navigation__item-link {
        color: $Dark75;
        font-weight: 700;
      }

    }
  }
  
  &__item-link {
    color: $Dark50;

    &:hover {
      color: $Dark75;
      font-weight: 700;
    }
  }

  &__expand-arrow {
    margin-right: rem(5);
    margin-left: rem(9);
  }
  
}