mixin toggle(options)
    //-var isChecked = (options.checked) ? 'checked' : ''
    .toggle-wrp
        label(class="toggle-item-name") Получать спецпредложения
            if (options.checked)
                input(class="toggle-item" type="checkbox" checked)
            else
                input(class="toggle-item" type="checkbox")