mixin toggle(options)
  .toggle
    label(class='toggle__item-name') Получать спецпредложения
      if (options.checked)
        input(class='toggle__item' type='checkbox' checked)
      else
        input(class='toggle__item' type='checkbox')