.room-details {
  &__main-wrapper {
    position: relative;
    max-width: rem(1440);
    background: white;

    @media screen and (max-width: 1200px){
      width: 100vw;
      min-width: rem(380);
      padding: 0 rem(10);
    }
  }

  &__image-box {
    display: flex;
    margin: 0 auto;
    line-height: 0;
    outline: none;
  }
  
  &__main-image-wrapper {
    width: 68.125%;
  }

  &__small-image-wrapper {
    width: 31.875%;
  }

  &__main-image {
    display: block;
    width: 100%;
  }

  &__small-image {
    display: block;
    width: 100%;
    max-height: rem(242.5);
  }

  &__content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: rem(940);
    // border-bottom: solid 1px $Dark25;

    @media screen and (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      min-height: 100%;
    }

    &::after {
      position: absolute;
      bottom: 0;
      width: 100%;
      min-height: rem(1);
      overflow: hidden;
      background: $Dark25;
      content: '';

      @media screen and (max-width: 1440px) { 
        width: 1440px;
      }
    }
  
  }

  &__left {
    width: rem(711);
    @media screen and (max-width: 1200px){
      min-width: rem(420);
      padding-right: rem(10);
      padding-left: rem(10);
      
      .room-det__cancel-title{
        margin-left: rem(20);
      }
    }
  }

  &__comment {
    margin-bottom: rem(21);
  }

  &__left-info-title {
    margin-bottom: rem(20);
    color: #1f2041;
    font-weight: 700;
    font-size: rem(19);
    font-family: Quicksand, Arial, sans-serif;
    line-height: rem(24);
    letter-spacing: rem(0.7);
  }
  
  &__left-impression-title {
    margin-bottom: rem(20);
    color: #1f2041;
    font-weight: 700;
    font-size: rem(19);
    font-family: Quicksand, Arial, sans-serif;
    line-height: rem(24);
    letter-spacing: rem(1);
  }

  &__specification-title {
    margin-bottom: rem(18);
  }

  &__pie-wrapper {
    width: rem(349);
  }
  
  &__showing-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  
    @media screen and (max-width: 1200px){
      flex-wrap: wrap;
      margin: 0 auto;
    }
  }

  &__percent-pie-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__specification-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: rem(30);
  
    @media screen and (max-width: 1200px){
      flex-wrap: wrap;
      margin: 0 auto;
    }
  }
  
  &__list {
    position: relative;
    top: rem(27);
    right: rem(38);
    color: $Dark75;
    font-weight: 400;
    font-size: rem(14);
    font-family: Montserrat, Arial, sans-serif;
    line-height: rem(24);
    list-style: none;
  }

  &__item {
    position: relative;
  
    &::before {
      position: absolute;
      top: rem(7);
      left: rem(-16);
      width: rem(10);
      min-height: rem(10);
      border-radius: 50%;
      content: '';
    }
  
    &_best {
      &::before {
        background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
      }
    }
    &_good {
      &::before {
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      }
    }
    &_passably {
      &::before {
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }
    }
    &_poorly {
      &::before {
        background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
      }
    }
  }

  &__recall {
    position: relative;
    margin-top: rem(14);
    margin-bottom: rem(20);
    color: #1f2041;
    font-weight: 700;
    font-size: rem(19);
    font-family: Quicksand, Arial, sans-serif;
    line-height: rem(24);
    letter-spacing: rem(1);
  
    &::after {
      position: absolute;
      right: 0;
      color: $Dark25;
      font-weight: 400;
      font-size: rem(14);
      font-family: Montserrat, Arial, sans-serif;
      font-style: normal;
      line-height: rem(30);
      letter-spacing: 0;
      content: "2 отзыва";
    }
  }

  &__specification {
    width: rem(292);
  }

  &__specification-title {
    margin-bottom: rem(19);
    margin-left: rem(20.43);
    color: #1f2041;
    font-weight: 700;
    font-size: rem(19);
    font-family: Quicksand, Arial, sans-serif;
    line-height: rem(24);
    letter-spacing: rem(1);
  }

  &__specification-list {
    position: relative;
    top: rem(-2);
    padding-left: rem(20.86);
    color: $Dark75;
    font-weight: 400;
    font-size: rem(14);
    font-family: Montserrat, Arial, sans-serif;
    line-height: rem(24);
    list-style: none;
  }

  &__specification-item {
    position: relative;
    margin-bottom: rem(10);
    white-space: pre-wrap;

    &::before {
      position: absolute;
      top: rem(7);
      left: rem(-20.43);
      width: rem(10.43);
      max-height: rem(10);
      background: $Dark25;
      border-radius: 50%;
      content: '';
    }
  }

  &__cancel {
    width: rem(349);
    padding-right: rem(8);
  }

  &__cancel-title {
    margin-bottom: rem(18);
    color: #1f2041;
    font-weight: 700;
    font-size: rem(19);
    font-family: Quicksand, Arial, sans-serif;
    line-height: rem(24);
    letter-spacing: rem(1);
  }

  &__cancel-info {
    color: $Dark75;
    font-weight: 400;
    font-size: rem(14);
    font-family: Montserrat, Arial, sans-serif;
    line-height: rem(24);
  }
  
  @media screen and (max-width: 1200px){
    &__right{
      width: 32.75%;
      min-width: rem(380);
      margin: rem(10) auto 0;
    }
  }

  @media screen and (max-width: 1200px){
    .comment-wrapper{
      width: 100%;
      min-width: rem(420);
    }
  }
}