extends ../base.pug
block title
  title Room details
block content
  include ../../static/sprite.svg
  include ../../blocks/form_elements/text_field/text_field.pug
  include ../../blocks/form_elements/dropdown/dropdown.pug
  include ../../blocks/form_elements/date/date.pug
  include ../../blocks/form_elements/checkbox/checkbox.pug
  include ../../blocks/form_elements/radio/radio.pug
  include ../../blocks/form_elements/toggle/toggle.pug
  include ../../blocks/form_elements/like/like.pug
  include ../../blocks/form_elements/comment/comment.pug
  include ../../blocks/form_elements/rate/rate.pug
  include ../../blocks/form_elements/slider/slider.pug
  include ../../blocks/form_elements/buttons/buttons.pug
  include ../../blocks/form_elements/pagination/pagination.pug
  include ../../blocks/form_elements/bullet_list/bullet_list.pug
  include ../../blocks/form_elements/room_info/room_info.pug
  include ../../blocks/cards/search/search.pug
  include ../../blocks/cards/registration/registration.pug
  include ../../blocks/cards/reserve/reserve.pug
  include ../../blocks/cards/inter/inter.pug
  include ../../blocks/cards/rooms/rooms.pug
  include ../../blocks/header/header.pug
  include ../../blocks/footer/footer.pug
  include ../../blocks/form_elements/percent_pie/percent_pie.pug
  body
    +mainheader({})
    
    main.room-details__main-wrapper
      section.room-details__img-box
        .room-details__main-img-wrp
          img(class='room-details__main-img',  src="../../static/source/room-det-big.jpg", alt="img-big")
        .room-details__small-img-rwp
          img(class='room-details__small-img', src="../../static/source/room-det-1.jpg", alt="room image")
          img(class='room-details__small-img', src="../../static/source/room-det-2.jpg" alt="room image")

      section.wrapper.room-details__content-wrapper
        .room-details__left
          .room-details__flex-wrp
            .room-details__room-info
              h2.room-details__left-info-title Сведения о номере
              +room_info({})
            .room-details__pie-wrp
              h2.room-details__left-waaay-title Впечатления от номера
              .room-details__flex-wrp
                +circle-pie2({percents: [25, 25, 50, 0]}) 
                ul.room-details__list
                  li.room-details__item.room-details__item_best Великолепно 
                  li.room-details__item.room-details__item_good Хорошо
                  li.room-details__item.room-details__item_passably Удовлетворительно 
                  li.room-details__item.room-details__item_poorly Разочарован
          .room-details__recall-wrp
            h2.room-details__recall Отзывы посетителей номера
            .room-details__comment
              +comment({})
            .room-details__comment
              +comment({name: 'Патрисия Стёклышкова', img:'../../static/source/image_patrisia48.png', days: 7, comment: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'})

          .room-details__flex-wrp.room-details__flex-wrp--mtop
            .room-details__rools
              h2.room-details__rools-title Правила
              ul.room-details__rools-list
                li.room-details__rools-item Нельзя с питомцами
                li.room-details__rools-item Без вечеринок и мероприятий
                li.room-details__rools-item Время прибытия — после 13:00,<br>а выезд до 12:00
            .room-details__cancel
              h2.room-details__cancel-title Отмена
              p.room-details__cancel-info Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

        .room-details__right
          +reserve-card({})

    +footer({})
