include ../../static/sprite.svg
include ../../blocks/form_elements/text_field/text_field.pug
include ../../blocks/form_elements/dropdown/dropdown.pug
include ../../blocks/form_elements/date/date.pug
include ../../blocks/form_elements/checkbox/checkbox.pug
include ../../blocks/form_elements/radio/radio.pug
include ../../blocks/form_elements/toggle/toggle.pug
include ../../blocks/form_elements/like/like.pug
include ../../blocks/form_elements/comment/comment.pug
include ../../blocks/form_elements/rate/rate.pug
include ../../blocks/form_elements/slider/slider.pug
include ../../blocks/form_elements/buttons/buttons.pug
include ../../blocks/form_elements/pagination/pagination.pug
include ../../blocks/form_elements/bullet_list/bullet_list.pug
include ../../blocks/form_elements/room_info/room_info.pug
include ../../blocks/cards/search/search.pug
include ../../blocks/cards/registration/registration.pug
include ../../blocks/cards/reserve/reserve.pug
include ../../blocks/cards/inter/inter.pug
include ../../blocks/cards/rooms/rooms.pug
include ../../blocks/header/header.pug
include ../../blocks/footer/footer.pug
include ../../blocks/form_elements/percent_pie/percent_pie.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="keywords" content="Toxin, отель, отдых")
    meta(name="description" content="Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения.")
    link(rel="icon", href="img/favicon.ico" type="image/ico")
    title Room details
  body
    +mainheader({})
    
    main.room-det__main-wrapper
      section.room-det__img-box
        .room-det__main-img-wrp
          img(class='room-det__main-img',  src="../../static/source/room-det-big.jpg", alt="img-big")
        .room-det__img-small
          img(class='room-det__small-img', src="../../static/source/room-det-1.jpg",  alt="img1")
          img(class='room-det__small-img', src="../../static/source/room-det-2.jpg", alt="img2")

      section.wrapper.room-det__content-wrapper
        .room-det__left
          .room-det__flex-wrp
            .room-det__room-info
              h2.room-det__left-info-title Сведения о номере
              +room_info({})
            .room-det__pie-wrp
              h2.room-det__left-waaay-title Впечатления от номера
              .room-det__flex-wrp
                +circle-pie2({percents: [25, 25, 50, 0]}) 
                ul.room-det__list
                  li.room-det__item.room-det__item_best Великолепно 
                  li.room-det__item.room-det__item_good Хорошо
                  li.room-det__item.room-det__item_passably Удовлетворительно 
                  li.room-det__item.room-det__item_poorly Разочарован
          .room-det__recall-wrp
            h2.room-det__recall Отзывы посетителей номера
            .room-det__comment
              +comment({})
            .room-det__comment
              +comment({name: 'Патрисия Стёклышкова', img:'../../static/source/image_patrisia48.png', days: 7, comment: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'})

          .room-det__flex-wrp.room-det__flex-wrp--mtop
            .room-det__rools
              h2.room-det__rools-title Правила
              ul.room-det__rools-list
                li.room-det__rools-item Нельзя с питомцами
                li.room-det__rools-item Без вечеринок и мероприятий
                li.room-det__rools-item Время прибытия — после 13:00,<br>а выезд до 12:00
            .room-det__cancel
              h2.room-det__cancel-title Отмена
              p.room-det__cancel-info Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

        .room-det__right
          +reserve-card({})

    +footer({})
