.button {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 99px;
  height: 44px;
  color: white;
  font-weight: bold;
  font-size: 12px;

  font-family: Montserrat;
  font-style: normal;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
.button_big {
  width: rem(320);
}

.button_w196 {
  width: rem(196);
  height: rem(34);
  line-height: rem(34);
}

.button_w87 {
  width: rem(87);
  height: rem(34);
}

.button_white {
  display: flex;
  justify-content: center;
  color: $Purple;
  vertical-align: middle;

  &:hover {
    opacity: 0.5;
    & > span {
      opacity: 1;
    }
  }

  & > span {
    position: relative;
    top: 2px;
    display: inline-block;
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    color: $Purple;
    line-height: 40px;
    background-color: white;
    border-radius: 22px;
    opacity: 1;
  }

  &.button_w87 {
    & > span {
      top: 2px;
      width: 84px;
      height: 30px;
      line-height: 30px;
      border-radius: 22px;
    }
  }
}

.button__arrow-svg {
  position: absolute;
  top: 13px;
  right: 14px;
}
