.radio {
  display: flex;
  justify-content: space-between;
  width: rem(220);
  

  &__item {
    position: relative;
    width: rem(20);
    min-height: rem(20);
    margin-right: rem(10);
    border: rem(1) solid $Dark25;
    border-radius: rem(10);
    outline: none;
    cursor: pointer;
    appearance: none;

    &:checked {
      border-color: $Purple;
  
      &::before {
        position: absolute;
        top: rem(3);
        left: rem(3);
        width: rem(12);
        min-height: rem(12);
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        border-radius: rem(10);
        content: '';
      }
    }
  }
  
  &__item-name {
    display: flex;
    flex-direction: row-reverse;
    color: $Dark50;
    font-weight: 400;
    font-size: rem(14);
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    line-height: rem(20);
    cursor: pointer;
    
    &_checked {
      color: $Dark75;
    }
  }
}
