@import '../../scss/utils/vars.scss';
@import '../../scss/utils/mixins.scss';

.colors-and-types {
  position: relative;

  &__logo {
    position: absolute;
    top: rem(30);
    left: rem(30);
    z-index: 100;
  }
  
  &__inner-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: rem(1440);
    margin: 0 auto;
    padding: rem(145) rem(150);
  }
  
  &__left-side {
    width: rem(270);
  }
  
  &__item {
    margin-bottom: rem(20);
  }
  
  &__right-side {
    position: relative;
    width: rem(400);
    margin-right: rem(37);
    padding-left: rem(60);
  }
  
  &__big-title {
    position: relative;
    display: block;
    max-width: rem(340);
    margin-bottom: rem(50);
    color: #1F2041;
    font-weight: 700;
    font-size: rem(24);
    font-family: Quicksand, Arial, sans-serif;
    font-style: normal;
    line-height: rem(30);
  
    &::before {
      position: absolute;
      top: 0;
      left: rem(-60);
      width: rem(30);
      min-height: rem(30);
      color: rgba(31, 32, 65, 0.25);
      font-weight: 400;
      font-size: rem(24);
      font-family: Montserrat, Arial, sans-serif;
      font-style: normal;
      line-height: rem(29);
      text-align: right;
      text-transform: uppercase;
      content: 'h1';
    }
  }
  
  &__middle-title {
    position: relative;
    max-width: rem(282);
    margin-bottom: rem(50);
    color: #1F2041;
    font-weight: 700;
    font-size: rem(19);
    font-family: Quicksand, Arial, sans-serif;
    font-style: normal;
    line-height: rem(24);
  
    &::after {
      position: absolute;
      top: 0;
      left: rem(-60);
      width: rem(30);
      min-height: rem(30);
      color: rgba(31, 32, 65, 0.25);
      font-weight: 400;
      font-size: rem(19);
      font-family: Montserrat, Arial, sans-serif;
      font-style: normal;
      line-height: rem(23);
      text-align: right;
      text-transform: uppercase;
      content: 'h2';
    }
  }
  
  &__small-title {
    position: relative;
    max-width: rem(186);
    margin-bottom: rem(48);
    color: #1F2041;
    font-weight: 700;
    font-size: rem(12);
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    line-height: rem(15);
    text-transform: uppercase;
  
    &::after {
      position: absolute;
      top: 0;
      left: rem(-60);
      width: rem(30);
      min-height: rem(30);
      color: rgba(31, 32, 65, 0.25);
      font-weight: 400;
      font-size: rem(12);
      font-family: Montserrat, Arial, sans-serif;
      font-style: normal;
      line-height: rem(15);
      text-align: right;
      text-transform: uppercase;
      content: 'h3';
    }
  }
  
  &__body-text {
    position: relative;
    max-width: rem(301);
    color: rgba(31, 32, 65, 0.75);
    font-weight: 400;
    font-size: rem(14);
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    line-height: rem(24);
  
    &::after {
      position: absolute;
      top: 0;
      left: rem(-67);
      width: rem(30);
      min-height: rem(30);
      color: rgba(31, 32, 65, 0.25);
      font-weight: 400;
      font-size: rem(14);
      font-family: Montserrat, Arial, sans-serif;
      font-style: normal;
      line-height: rem(24);
      text-align: right;
      content: 'Body';
    }
  }
}