mixin colors-and-types__item(options)
  -
    const text = options.text || 'Dark Shade 100%'
    const color = options.color || '#1F2041'
    const classPrefix = options.prefix || 'dark-100'
  
  article.colors-and-types__item
    .colors-and-types__rectangle(class=`colors-and-types__rectangle_${classPrefix}`)
    p.colors-and-types__text 
      b.colors-and-types__color-text= `${text}` 
      br
      =`${color}`