extends ../base.pug
block title
  title Colors & Type
block content
  include ./colors-and-types__item.pug  
  body
    main.colors-and-types__wrap
      img.colors-and-types__logo(src='../../static/source/logo-gray.png' alt='logo' width=48 height=48)
      .colors-and-types__inner-wrap
        .colors-and-types__left-side
          +colors-and-types__item({})
          +colors-and-types__item({prefix: 'dark-75', text: 'Dark Shade 75%'})
          +colors-and-types__item({prefix: 'dark-50', text: 'Dark Shade 50%'})
          +colors-and-types__item({prefix: 'dark-25', text: 'Dark Shade 25%'})
          +colors-and-types__item({prefix: 'dark-5', text: 'Dark Shade 5%'})
          +colors-and-types__item({prefix: 'purple', text: 'Purple', color: '#BC9CFF'})
          +colors-and-types__item({prefix: 'green ', text: 'Green \n', color: ' #6FCF97'})
          
        .colors-and-types__right-side
          h1.colors-and-types__title-h1 This one is the sub-section or widget title
          h2.colors-and-types__title-h2 Next one is the item title inside widgets
          h3.colors-and-types__title-h3 This is a label or CTA text 
          p.colors-and-types__title-body This is the body text which is used for most of the design, like paragraphs, lists, etc.