.navigation-list {
  list-style: none;

  &__item {
    margin-bottom: rem(20);
    color: $Dark50;
    font-weight: 400;
    font-size: rem(14);
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    line-height: rem(17);
    
    &_theme_title {
      margin-bottom: rem(21);
      color: $Dark;
      font-weight: 700;
      font-size: rem(12);
      line-height: rem(15);
      text-transform: uppercase;
    }

    &-link {
      color: $Dark50;
      font-weight: 400;
      font-size: rem(14);
      font-family: Montserrat, Arial, sans-serif;
      font-style: normal;
      line-height: rem(17);
      
    }
  }
}