.header {

  &__autorization {
    display: flex;
    justify-content: space-between;
    width: rem(303);
    padding-top: rem(3);

    @media screen and (max-width: 950px) {
      margin-top: rem(10);
    }
  
    @media screen and (max-width: 520px) {
      flex-basis: 100%;
      margin: 0 auto;
    }
  }
}