mixin slider(options)
  - const {title = 'диапазон цены'} = options
  
  .slider
    .slider__info-wrapper
      h3.slider__info-title #{title}

      p.slider__info
        span(id='js-range-start') 5 000
        |₽ - 
        span(id='js-range-end') 10 000
        |₽

    .slider__wrapper#slider
    
    p.slider__footer Стоимость за сутки пребывания в номере