include ../../static/sprite.svg
include ../../blocks/form_elements/text_field/text_field.pug
include ../../blocks/form_elements/dropdown/dropdown.pug
include ../../blocks/form_elements/date/date.pug
include ../../blocks/form_elements/checkbox/checkbox.pug
include ../../blocks/form_elements/radio/radio.pug
include ../../blocks/form_elements/toggle/toggle.pug
include ../../blocks/form_elements/like/like.pug
include ../../blocks/form_elements/comment/comment.pug
include ../../blocks/form_elements/rate/rate.pug
include ../../blocks/form_elements/slider/slider.pug
include ../../blocks/form_elements/buttons/buttons.pug
include ../../blocks/form_elements/pagination/pagination.pug
include ../../blocks/form_elements/bullet_list/bullet_list.pug
include ../../blocks/form_elements/room_info/room_info.pug
include ../../blocks/cards/search/search.pug
include ../../blocks/cards/registration/registration.pug
include ../../blocks/cards/reserve/reserve.pug
include ../../blocks/cards/inter/inter.pug
include ../../blocks/cards/rooms/rooms.pug
include ../../blocks/header/header.pug
include ../../blocks/footer/footer.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Toxin UI-KIT
  body
    main.ui-kit__wrapper
      h1.ui-kit__title Header

      +mainheader({})

      br
      br

      +mainheader({authorized: true})

      h1.ui-kit__title Footer
      +footer({})
      
      br

      .ui-kit__wrap-for-elements
        h1.ui-kit__title Form Elements

        //h3 Text Field
        .ui-kit__simple-flex-wrap.fw.h150
          +text_field({type:'email'})
          +text_field({type:'text'})
          +text_field({type:'text', placeholder: 'Фамилия'})
          +text_field({type:'password'})
          +text_field({type:'date'})
          +subscribe({})

        br

        //h3 Dropdown
        .ui-kit__simple-flex-wrap.mh210.fw 
          +dropdown({expanded:false})
          +dropdownCompany({expanded:'true'})
        
        br

        //h3 Filter date dropdown
        .ui-kit__simple-flex-wrap.fw 
          +date-filter-dropdown({})
          +date-calendar({})
          +date-search-filds({})
        
        br

        //h3 Checkbox Buttons
        .ui-kit__simple-flex-wrap
          +checkbox({text:'Hello world!', id:'wello-world'})
          +checkbox-list({})
          +checkbox-additional-list({})
          +checkbox-accessibility({})
        
        br

        //h3 Radio Buttons
        .ui-kit__simple-flex-wrap
          +radio({})
        
        br

        //h3 toggle
        .ui-kit__simple-colomn-wrap
          +toggle({checked: true})
          +toggle({})
        
        br

        //h3 like button
        .ui-kit__simple-flex-wrap
          .ui-kit__simple-colomn-wrap
            +like({})
            +like({liked: true})
          +comment({})

        br

        //h3 rate button
        .ui-kit__simple-flex-wrap
          .ui-kit__simple-colomn-wrap
            h5 Dinamic
            +rate({isClickable:true})
          .ui-kit__simple-colomn-wrap
            h5 Static
            +rate({rating: '1'})
            +rate({rating: '5'})    
        
        br

        // h3 Range Slider
        .ui-kit__simple-flex-wrap
          +slider({})

        br

        //h3 buttons
        .ui-kit__simple-flex-wrap
          +button({})
          +button({white:true})
          +button({big:true, text: 'Нажми меня'})
        
        br

        .ui-kit__simple-flex-wrap
          div 
            +bullet({})
          div
            h2 Сведения о номере
            +room_info({})
          div
            h2 pagination
            +pagination({})
        br

      .ui-kit__wrap-for-cards
        h1.ui-kit__title Cards

        .ui-kit__simple-flex-wrap(style="flex-wrap: wrap;")
          +reserve-card
          +search-card
          +registration-card
          +inter

        br

        .ui-kit__simple-flex-wrap
          +rooms({bg:'../static/source/room_2.jpg', rating: 4})
          +rooms({rating: 1, number: 840, cost: '7 777', likes: 12})
          +rooms({number: 500, notlux: true, cost: '5 750', likes: 256})
        br