include ../../form_elements/text-field/text-field.pug
include ../../form_elements/subscribe/subscribe.pug

.footer__subscribe
  p.footer__subscribe-title Подписка
  p.footer__subscribe-info Получайте специальные предложения и новости сервиса
  +subscribe({}) 