.footer {
  &__subscribe {
    margin-top: rem(5);
  
    @media screen and (max-width: 1200px) {
      width: auto;
      padding: 0;
    }
    @media screen and (max-width: 950px) {
      display: flex;
      flex-basis: 100%;
      flex-wrap: wrap;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }

    &-title {
      margin-bottom: rem(18);
    }
  
    &-info {
      width: rem(260);
      margin-bottom: rem(21);
      color: $Dark75;
      font-weight: 400;
      font-size: rem(14);
      font-family: Montserrat, Arial, sans-serif;
      font-style: normal;
      line-height: rem(24);
    
      @media screen and (max-width: 950px) {
        flex-basis: 70%;
        margin-top: rem(-5);
        margin-left: rem(5);
        line-height: rem(24);
      }
    }
  }
}