mixin bullet(options)
    -var title = (options.title)? options.title: 'Bullet list title'
    .bullet-wrp
        h2=title
        ul.bullet-list
            li.bullet-item Нельзя с питомцами
            li.bullet-item Без вечеринок и мероприятий
            li.bullet-item Время прибытия — после 13:00,<br>а выезд до 12:00
        