.bullet {
    width: rem(290);
    padding-left: rem(20.86);
  }
  
  .bullet__title {
    margin-bottom: rem(24);
  }
  
  .bullet__list {
    position: relative;
    color: $Dark75;
    font-weight: normal;
    font-size: rem(14);
    font-family: Montserrat;
    font-style: normal;
    line-height: rem(24);
    list-style: none;
  }
  
  .bullet__item {
    position: relative;
    margin-bottom: rem(5);
  
    &::before {
      position: absolute;
      top: rem(7);
      left: rem(-21);
      width: rem(10.43);
      height: rem(10);
      background-color: $Dark25;
      border-radius: rem(10);
      content: "";
    }
  }
  