.bullet-wrp{
    width: 290px;
    //border: 1px solid aqua;
    padding-left: 20.86px;
    h2{
        margin-bottom: 24px;
    }
}
.bullet-list{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $Dark75;
    list-style: none;
    position: relative;
}
.bullet-item{
    position: relative;
    margin-bottom: 5px;
    br{
        margin: 0;
    }
    &::before{
        content: '';
        width: 10.43px;
        height: 10px;
        border-radius: 10px;
        position: absolute;
        top: 7px;
        left: -21px;
        background-color: $Dark25;
    }
}