.like-wrp{
    width: 40px;
    height: 20px;
    display: flex;
    //justify-content: space-around;
    vertical-align: middle;
    border: 1px solid $Dark25;
    box-sizing: border-box;
    border-radius: 10px;
}

.like-heart{
    margin-left: 5px;
    margin-top: 6px;
    
}
.like-value{    
    margin-left: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 20px;
    box-sizing: border-box;
    text-align: center;
    color: $Dark25;
}

.heart-liked{
    display: none;
}
.heart--liked{
    border-color: $Purple;
    .like-value{
        color: $Purple;
    }
    .heart-liked{
        display: block;
    }
}
//----------------------comment

.comment-wrp{
    width: 712px;
    box-sizing: border-box;
    border: 1px solid fuchsia;
    //min-height: 133px;
}
.comment-user-wrp{
    border: 1px solid darkcyan;
}
.comment-user__foto{
    width: 48px;
    height: 48px;
    background-image: url(../static/source/image_murad.png);
    background-position: center center;
    background-size: 48px 48px;//background-size: 100%;//background-clip: border-box;

    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
    border-radius: 32px;
}
.comment-user__name{

}
.comment-info-wrp{
    border: 1px solid brown;
}
.comment-info__text{

}