mixin pagination(options)
    .pagination-wrp
        ul.pagination-list
            li.pagination-item.pagination-first-item.pagination-item--active
                <svg class="pagination-arrow-svg" width="18" height="18" viewBox="0 0 18 18"  version="1.1" preserveAspectRatio="xMinYMin">
                <use xlink:href="#img-arrow-right"></use>   
                </svg>
                a(href="#") 1
            li.pagination-item
                a(href="#") 2
            li.pagination-item
                a(href="#") 3
            li.pagination-item
                a(href="#") ...
            li.pagination-item
                a(href="#") 4
            li.pagination-item.pagination-last-item
                <svg class="pagination-arrow-svg" width="18" height="18" viewBox="0 0 18 18"  version="1.1" preserveAspectRatio="xMinYMin">
                <use xlink:href="#img-arrow-right"></use>   
                </svg>
        p.pagination-footer <span>1</span> – 12 из <span>100+</span> вариантов аренды
            
