mixin pagination(options)
  .pagination
    ul.pagination__list
      li.pagination__item.pagination__first-item.pagination__item_active
        <svg class="pagination-arrow-svg" width="18" height="18" viewBox="0 0 18 18"  version="1.1" preserveAspectRatio="xMinYMin">
        <use xlink:href="#img-arrow-right"></use>   
        </svg>
        a(href="") 1
      li.pagination__item
        a(href="") 2
      li.pagination__item
        a(href="") 3
      li.pagination__item
        a(href="") ...
      li.pagination__item
        a(href="") 4
      li.pagination__item.pagination__last-item
        <svg class="pagination-arrow-svg" width="18" height="18" viewBox="0 0 18 18"  version="1.1" preserveAspectRatio="xMinYMin">
        <use xlink:href="#img-arrow-right"></use>   
        </svg>
    p.pagination__footer <span>1</span> – 12 из <span>100+</span> вариантов аренды

