include ./pagination__item.pug

mixin pagination(options)
  .pagination
    ul.pagination__list
      +pagination__item({first: true, active: true, text: 1})
      +pagination__item({text: 2})
      +pagination__item({text: 3})
      +pagination__item({text: '...'})
      +pagination__item({text: 15})
      +pagination__item({last: true})
    p.pagination__footer <span>1</span> – 12 из <span>100+</span> вариантов аренды