.header__btns-wrp
  .header__inter-btn
    +button({white: true, text: 'войти', w87: true, href: 'sign-in.html'})
  .header__registration-btn
    +button({text: 'зарегистрироваться', w196: true, href: 'registration.html'})
