include ../__item/header__item.pug

mixin header__list(options)
  -
    const items = options.items
    const itemsClassName = options.itemClasses
    const activeItem = options.activeItem ? options.activeItem : 0
    const itemsWithDropdownLink = options.itemsWithDropdownLink || [1, 4]

  ul.header__list
    each val, index in items
      +header__item({
        text: items[index],
        active: (activeItem == index) ? true : false,
        dropdown: itemsWithDropdownLink.includes(index)
      })(class= itemsClassName[index])