.like {
  display: flex;
  flex-shrink: 0;
  min-width: rem(40);
  max-height: rem(20);
  padding-right: rem(5);
  vertical-align: middle;
  border: rem(1) solid $Dark25;
  border-radius: rem(10);

  &__heart {
    margin-top: rem(6);
    margin-left: rem(5);
  }
  
  &__value {
    margin-left: rem(4);
    color: $Dark25;
    font-weight: 400;
    font-size: rem(10);
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    line-height: rem(20);
    text-align: center;
    user-select: none;
  }
}

.heart-liked {
  display: none;
}

.heart_liked {
  border-color: $Purple;

  .like__value {
    color: $Purple;
  }
  
  .heart-liked {
    display: block;
  }
}
