@import '../../scss/utils/vars.scss';
@import '../../scss/utils/mixins.scss';

.sign-in {
  background: url('../../static/source/registration-background.jpg') no-repeat 50% rem(-70), white;

  &__inner-wrapper {
    position: relative;
    width: 100%;
    min-width: rem(1160);
    min-height: rem(684);
    margin: 0 auto;
    padding-top: rem(172);
    padding-bottom: rem(172);
  
    @media screen and (max-width: 1200px) {
      width: 100%;
      min-width: rem(420);
    }
  }
  
  &__inter-card {
    width: max-content;
    margin: 0 auto;
  }
}