extends ../base.pug
block title
  title Sign in
block content
  include ../../static/sprite.svg
  include ../../blocks/cards/inter-card/inter-card.pug
  include ../../blocks/header/header.pug
  include ../../blocks/footer/footer.pug
  body
    +header({})
    
    main.sign-in__wrapper
      .sign-in__inner-wrapper
        .sign-in__inter-card  
          +inter-card()
    
    +footer({})