@font-face{
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Quicksand';
  src: url('../fonts/CeraPro-Medium.woff2') format('woff2'),
  url('../fonts/CeraPro-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Quicksand';
  src: url('../fonts/CeraPro-Bold.woff2') format('woff2'),
  url('../fonts/CeraPro-Bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}