@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Regular.svg') format('svg'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
    //url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


@font-face{
    font-family: 'Quicksand';
    src: url('../fonts/CeraPro-Medium.eot');
    src: url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-Medium.svg') format('svg'),
    url('../fonts/CeraPro-Medium.ttf') format('truetype'),
    url('../fonts/CeraPro-Medium.woff') format('woff');
    //url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Quicksand-Bold';
    src: url('../fonts/Quicksand-Bold.eot');
    src: url('../fonts/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quicksand-Bold.svg') format('svg'),
    url('../fonts/Quicksand-Bold.ttf') format('truetype'),
    url('../fonts/Quicksand-Bold.woff') format('woff');
    //url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


/*

@font-face{
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.eot');
    src: url('../fonts/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quicksand-Regular.svg') format('svg'),
    url('../fonts/Quicksand-Regular.ttf') format('truetype'),
    url('../fonts/Quicksand-Regular.woff') format('woff');
    //url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


*/






/*
@font-face{
    font-family: 'Lato Light';
    src: url('../fonts/latolight.eot');
    src: url('../fonts/latolight.eot?#iefix') format('embedded-opentype'),
    //url('../fonts/latolight.svg') format('svg'),
    url('../fonts/latolight.ttf') format('truetype'),
    url('../fonts/latolight.woff') format('woff'),
    url('../fonts/latolight.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
*/