/*
@font-face{
    font-family: 'Lato Light';
    src: url('../fonts/latolight.eot');
    src: url('../fonts/latolight.eot?#iefix') format('embedded-opentype'),
    //url('../fonts/latolight.svg') format('svg'),
    url('../fonts/latolight.ttf') format('truetype'),
    url('../fonts/latolight.woff') format('woff'),
    url('../fonts/latolight.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
*/