* {
	padding: 0;
	margin: 0;
	outline: 0;
	border: 0;
	}
a {
	text-decoration: none;
	//appearance: button;
}

 button:active, button::-moz-focus-inner //input, input[type=range], input:active, input:focus, input:hover, input::-moz-focus-inner,a,a:active,
{
    border: 0;
	outline: none;
}
svg{cursor: pointer;}

