@import './vars.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

button:active,
button::-moz-focus-inner {
  border: 0;
  outline: none;
}

svg {
  cursor: pointer;
}

html {
  width: 100%;
  font-size: $mainFontSize;
  font-family: $mainFont;
  line-height: $mainLineHeight;
  background: #fff;
}

body {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  display: none;
  width: 1px;
  min-height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
