// Font
//$mainFont                : 'MyriadPro', Arial, sans-serif;
$mainFont                : 'Montserrat', 'Quicksand','Quicksand-Bold', Arial, sans-serif;
// Size

$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4 ;

$bigDesktopWidth         : 1920px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$Dark          : #1F2041;
$Dark75        : rgba(31, 32, 65, 0.75);
$Dark50        : rgba(31, 32, 65, 0.5);
$Dark25        : rgba(31, 32, 65, 0.25);
$Dark5        : rgba(31, 32, 65, 0.05);
$Purple        : #BC9CFF;
$Green         : #6FCF97;