include ../checkbox/checkbox.pug

mixin checkbox-list(options)
  -
    const {
      title = 'Checkbox Buttons',
      items = ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)'],
      checkedItems = [1,2]
    } = options
  
  .checkbox-list
    h3.checkbox-list__title= title
    .checkbox-list__items
      each item, index in items
        .checkbox-list__checkbox
          +checkbox({text: item, checked: checkedItems.includes(index)})
