extends ../base.pug
block title
  title Toxin
block content
  include ../../static/sprite.svg
  include ../../blocks/search-card/search-card.pug
  include ../../blocks/header/header.pug
  include ../../blocks/footer/footer.pug
  
  +header({})
  
  main.main__wrapper
    h1.visually-hidden Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения.
    section.wrapper
      +search-card({})
      p.slogan Лучшие номера для вашей работы, отдыха и просто вдохновения
  
  +footer({})