extends ../base.pug
block title
  title Toxin
block content
  include ../../static/sprite.svg
  include ../../blocks/search-card/search-card.pug
  include ../../blocks/header/header.pug
  include ../../blocks/footer/footer.pug
  
  .main
    .main__header
      +header({activeLink: 2})

    main.main__wrapper
      .main__inner-wrapper
        h1.visually-hidden Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения.
        section.main__content
          +search-card({})
          p.main__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения
    .main__footer
      +footer({})