extends ../base.pug
block title
  title Toxin
block content
  include ../../static/sprite.svg
  include ../../blocks/form_elements/text-field/text-field.pug
  include ../../blocks/form_elements/dropdown/dropdown.pug
  include ../../blocks/form_elements/date/date.pug
  include ../../blocks/form_elements/checkbox/checkbox.pug
  include ../../blocks/form_elements/radio/radio.pug
  include ../../blocks/form_elements/toggle/toggle.pug
  include ../../blocks/form_elements/like/like.pug
  include ../../blocks/form_elements/rate/rate.pug
  include ../../blocks/form_elements/slider/slider.pug
  include ../../blocks/form_elements/buttons/button/button.pug
  include ../../blocks/form_elements/pagination/pagination.pug
  include ../../blocks/form_elements/bullet/bullet.pug
  include ../../blocks/form_elements/room-info/room-info.pug
  include ../../blocks/cards/search-card/search-card.pug
  include ../../blocks/cards/registration-card/registration-card.pug
  include ../../blocks/cards/reserve-card/reserve-card.pug
  include ../../blocks/cards/inter-card/inter-card.pug
  include ../../blocks/cards/room-card/room-card.pug
  include ../../blocks/header/header.pug
  include ../../blocks/footer/footer.pug
  body
    +mainheader({})

    main.main__wrapper
      h1.visually-hidden Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения.
      section.wrapper
        +search-card({})
        p.slogan Лучшие номера для вашей работы, отдыха и просто вдохновения

    +footer({})