mixin dropdown-comfort(options)
  -
    const isExpandedList = options.expanded ? 'dropdown-comfort__list_expanded' : ''
    const isExpandedMain = options.expanded ? 'dropdown-comfort__main_expanded' : ''
    const count1 = options.count1 ? options.count1.toString() : '0'
    const count2 = options.count2 ? options.count2.toString() : '0'
    const count3 = options.count3 ? options.count3.toString() : '0'

  .dropdown-comfort.js-dropdown-comfort
    .dropdown-comfort__open
      +dropdown__open({opacity: 75})
    p(class=`dropdown-comfort__main ${isExpandedMain}`)= `${count1} спальни, ${count2}  кровати...` 
      

    ul(class=`dropdown-comfort__list ${isExpandedList}`)
      li.dropdown-comfort__item 
        span.dropdown-comfort__item-name спальни
        +dropdown__buttons({id: 'js-bedroom', value: count1})
      li.dropdown-comfort__item 
        span.dropdown-comfort__item-name кровати
        +dropdown__buttons({id: 'js-bed', value: count2}) 
      li.dropdown-comfort__item 
        span.dropdown-comfort__item-name ванные комнаты
        +dropdown__buttons({id: 'js-bathroom', value: count3}) 

