extends ../base.pug
block title
  title Search room
block content
  include ../../static/sprite.svg
  include ../../blocks/form-elements/text-field/text-field.pug
  include ../../blocks/form-elements/dropdown/dropdown.pug
  include ../../blocks/form-elements/date-filter/date-filter.pug
  include ../../blocks/form-elements/checkbox/checkbox/checkbox.pug
  include ../../blocks/form-elements/checkbox/checkbox-accessibility/checkbox-accessibility.pug
  include ../../blocks/form-elements/checkbox/checkbox-additional-list/checkbox-additional-list.pug
  include ../../blocks/form-elements/checkbox/checkbox-list/checkbox-list.pug
  include ../../blocks/form-elements/radio/radio.pug
  include ../../blocks/form-elements/toggle/toggle.pug
  include ../../blocks/form-elements/like/like.pug
  include ../../blocks/form-elements/rate/rate.pug
  include ../../blocks/form-elements/slider/slider.pug
  include ../../blocks/form-elements/buttons/button/button.pug
  include ../../blocks/form-elements/pagination/pagination.pug
  include ../../blocks/form-elements/bullet/bullet.pug
  include ../../blocks/form-elements/room-info/room-info.pug
  include ../../blocks/form-elements/date-dropdown/date-dropdown.pug
  include ../../blocks/cards/search-card/search-card.pug
  include ../../blocks/cards/registration-card/registration-card.pug
  include ../../blocks/cards/reserve-card/reserve-card.pug
  include ../../blocks/cards/inter-card/inter-card.pug
  include ../../blocks/cards/room-card/room-card.pug
  include ../../blocks/header/header.pug
  include ../../blocks/footer/footer.pug
  body
    +header({})

    main.search__main-wrapper
      .search__inner-wrapper      
        section.search__left
          h3.search__date-title даты пребывания в отеле
          .search__date-dropdown
            +date-dropdown({})
          h3.search__guests-title гости
          .search__dropdown-company
            +dropdown-company({count1: 3, count3: 1, text: '3 гостя, 1 младенец'})
          .search__slider
            +slider({})
          .search__checkbox-list
            +checkbox-list({})
          .search__checkbox-accessibility
            +checkbox-accessibility({})
          h3.search__comfort-title удобства номера
          .search__dropdown-comfort
            +dropdown-comfort({small: true, count1: 2, count2: 2})
          +checkbox-additional-list({})
        
        section.search__right
          h1.search__rooms-title Номера, которые мы для вас подобрали
          .search__rooms
            +room-card({bg : '../../static/source/room-888.jpg', number : '888', notlux: false, cost: '9 990', arrows: true})
            +room-card({bg : '../../static/source/room-840.jpg', rating : '4', number : '840', notlux: true, cost: '9 990',likes: '65'})
            +room-card({bg : '../../static/source/room-980.png', rating : '3', number : '980', cost: '8 500', likes: '35'})
            +room-card({bg : '../../static/source/room-856.png', rating : '5', number : '856', notlux: true, cost: '7 300',likes: '19'})
            +room-card({bg : '../../static/source/room-740.png', rating : '4', number : '740', notlux: true, cost: '6 000', likes: '44'})
            +room-card({bg : '../../static/source/room-982.png', rating : '3', number : '982', notlux: true, cost: '5 800',likes: '56'})
            +room-card({bg : '../../static/source/room-678.png', number : '678', notlux: true, cost: '5 500',likes: '45'})
            +room-card({bg : '../../static/source/room-450.png', rating : '4', number : '450', notlux: true, cost: '5 300',likes: '39'})
            +room-card({bg : '../../static/source/room-350.png', rating : '3', number : '350', notlux: true, cost: '5 000',likes: '77'})
            +room-card({bg : '../../static/source/room-666.png', number : '666', notlux: true, cost: '5 000',likes: '25'})
            +room-card({bg : '../../static/source/room-444.png', rating : '3', number : '444', notlux: true, cost: '5 000',likes: '15'})
            +room-card({bg : '../../static/source/room-352.png', rating : '3', number : '352', notlux: true, cost: '5 000',likes: '55'})
        .search__pagination
          +pagination({})
    
    +footer({})