.header {
  &__item {
    position: relative;
    vertical-align: middle;
    
    &-link {
      color: $Dark50;
      font-weight: 400;
      font-size: rem(14);
      font-family: Montserrat, Arial, sans-serif;
      font-style: normal;
      line-height: rem(17);
      vertical-align: middle;
    
      &_active {
        color: $Dark75;
        font-weight: 700;
      }
    }
  }

  &__service {
    left: rem(-1);
  }
  
  &__vacancy {
    left: rem(8);
  }
  
  &__news {
    left: rem(6);
  }
  
  &__agreement {
    left: rem(4);
  }
  
  &__expand {
    position: relative;
    left: rem(6);
  }
}