mixin dropdown__buttons(options)
  -
    const value = options.value ? options.value.toString() : '0'
    const id = options.id || ''
    
  .dropdown__buttons
    svg(class='dropdown__buttons-btn js-minus-btn' cl width='30' height='31' viewBox='0 0 30 31' version='1.1' preserveAspectRatio='xMinYMin')
      use(xlink:href='#img-group-')
    
    span(class='dropdown__buttons-value' id=id)=value
    
    svg(class='dropdown__buttons-btn js-plus-btn' width='30' height='31' viewBox='0 0 30 31' version='1.1' preserveAspectRatio='xMinYMin')
      use(xlink:href='#img-group+')