mixin room-info(options)
  -
    const {
      items = [
        {title: 'Комфорт', text: 'Шумопоглощающие стены', image: '../../static/source/emoticon.png'},
        {title: 'Удобство', text: 'Окно в каждой из спален', image: '../../static/source/city.png'},
        {title: 'Уют', text: 'Номер оснащён камином', image: '../../static/source/fire.png'}
      ]

    } = options
  
  section.room-info
    each value in items
      -const {image, title, text} = value
      article.room-info__item
        .room-info__image-wrapper
          img(class='room-info__image' src=image)
        p.room-info__information
          span(class='room-info__title')= title
          span(class='room-info__text')= text