@import '../../scss/utils/vars.scss';
@import '../../scss/utils/mixins.scss';

.room-info {
  width: rem(280);
  min-height: rem(207);

  :last-child {
    margin-bottom: 0;
    border: 0;
  }

  &__item {
    display: flex;
    width: rem(280);
    min-height: rem(68);
    margin-bottom: rem(20);
    border-bottom: rem(1) solid rgba(31, 32, 65, 0.1);
  }

  &__image-wrapper {
    width: rem(48);
  }
  
  &__image {
    display: block;
    margin: 4px auto;
  }
  
  &__information {
    margin-left: rem(10);
    line-height: rem(24);
  }

  &__title {
    color: $Dark75;
    font-weight: 700;
    font-size: rem(14);
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    
  }

  &__text {
    display: block;
  }
}