.rooms {
  width: 270px;
  height: 257px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.rooms__img-wrp {
  position: relative;
  height: 150px;
}

.rooms__img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.rooms__carousel {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.rooms__info {
  display: flex;
  box-sizing: border-box;
  height: 55px;
  margin: 0 20px;
  padding-top: 20px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}

.rooms__room-number {
  color: $Dark;
  font-size: 17px;
  font-family: "Quicksand-Bold";
  line-height: 29px;
}

.rooms__room-type {
  margin-left: 5px;
  color: #bc9cff;
  font-weight: 700;
  font-size: 12px;
  font-family: Montserrat;
  font-style: normal;
  line-height: 33px;
  text-transform: uppercase;
}

.rooms__room-cost {
  margin-left: auto;
  color: rgba(31, 32, 65, 0.5);
  font-weight: 700;
  font-size: 14px;
  font-family: Montserrat;
  line-height: 30px;

  &::after {
    font-weight: 400;
    font-size: 12px;
    content: " в сутки";
  }
}

.rooms__rating {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 13px 20px 0;
}

.rooms__rating-count {
  color: $Dark50;
  font-weight: bold;
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  line-height: 18px;
  text-align: right;
}
