mixin dropdown-comfort(options)
  -
    const {
      open = false,
      count1 = '0',
      count2 = '0',
      count3 = '0'
      } = options

  .dropdown-comfort.js-dropdown-comfort
    .dropdown-comfort__open
      +dropdown-open({opacity: 75})
    p(class=`dropdown-comfort__main ${open ? 'dropdown-comfort__main_expanded' : ''}`)= `${count1} спальни, ${count2}  кровати...` 
      

    ul(class=`dropdown-comfort__list ${open ? 'dropdown-comfort__list_expanded' : ''}`)
      li.dropdown-comfort__item 
        span.dropdown-comfort__item-name спальни
        +dropdown-buttons({id: 'js-bedroom', value: count1})
      li.dropdown-comfort__item 
        span.dropdown-comfort__item-name кровати
        +dropdown-buttons({id: 'js-bed', value: count2}) 
      li.dropdown-comfort__item 
        span.dropdown-comfort__item-name ванные комнаты
        +dropdown-buttons({id: 'js-bathroom', value: count3}) 

