mixin checkbox(options)
    -var text = options.text, id = (options.id)? options.id :''
    .checkbox-wrp     
        input(class="checkbox-item" id=id type="checkbox" )
        label(class="checkbox-item-name" for=id)=text


mixin checkbox-list(options)
    .checkbox-list-wrp
        h3 Checkbox Buttons 
        +checkbox({text:'Можно курить', id:'smoke'})
        +checkbox({text:'Можно с питомцами', id:'pets'})
        +checkbox({text:'Можно пригласить гостей (до 10 человек)', id:'frends'})

mixin checkbox-additional-list(options)
    
    .checkbox__list-wrp
        .checkbox__list-title
            h3 дополнительные удобства
            <svg class="checkbox__list-svg" width="12" height="12" viewBox="0 -4 12 12"  version="1.1" preserveAspectRatio="xMinYMin">
                <use xlink:href="#img-expand-more"></use>   
            </svg>
        .checkbox__list-body.checkbox__list-body--disabled
            +checkbox({text:'Завтрак', id:'breackfast'})
            +checkbox({text:'Письменный стол', id:'desk'})
            +checkbox({text:'Стул для кормления', id:'chair'})
            +checkbox({text:'Кроватка', id:'cot'})
            +checkbox({text:'Телевизор', id:'tv'})
            +checkbox({text:'Шампунь', id:'shampoo'})
            +checkbox({text:'Телевизор', id:'tv1'})
            +checkbox({text:'Шампунь', id:'shampoo1'})

//----------------rich Checkbox Buttons
mixin richcheckbox(options)
    .richcheckbox-wrp
        h3 доступность
        .richcheckbox-item-wrp     
            input(class="checkbox-item richcheckbox-item" type="checkbox" id="wideCorridor")
            .richcheckbox-inner-wrp
                label(class="checkbox-item-name richcheckbox-item-name" for="wideCorridor")
                    h6.richcheckbox-title Широкий коридор
                p.richcheckbox-info Ширина коридоров в номере<br>не менее 91 см.
        .richcheckbox-item-wrp     
            input(class="checkbox-item richcheckbox-item" type="checkbox" id="assistant")
            .richcheckbox-inner-wrp
                label(class="checkbox-item-name richcheckbox-item-name" for="assistant")
                    h6.richcheckbox-title Помощник для инвалидов
                p.richcheckbox-info На 1 этаже вас встретит специалист<br>и проводит до номера.

 

