mixin checkbox(options)
  - const checked = options.checked || false
  - const first = options.first ? 'checkbox_first' : ''
  - const text = options.text || ''
  - const id = options.id || ''

  .checkbox(class=first)
    label(class='checkbox__item-name')=text
      if (checked)
        input(class='checkbox__item' type='checkbox' checked='checked')
      else 
        input(class='checkbox__item' type='checkbox')