mixin checkbox(options)
  -var text = options.text, id = (options.id)? options.id :''
  .checkbox    
    input(class="checkbox__item" id=id type="checkbox" )
    label(class="checkbox__item-name" for=id)=text

mixin checkbox-list(options)
  .checkbox-list
    h3.checkbox-list__title Checkbox Buttons
    .checkbox-list__item-wrp 
      +checkbox({text:'Можно курить', id:'smoke'})
    +checkbox({text:'Можно с питомцами', id:'pets'})
    +checkbox({text:'Можно пригласить гостей (до 10 человек)', id:'frends'})

mixin checkbox-additional-list(options)
  -var opened = (options.opened)? 'checkbox__list-svg--opened' : ''
  .checkbox-additional-list.js-checkbox-additional-list
    .checkbox-additional-list__header
      h3.checkbox-additional-list__title дополнительные удобства
      <svg class='checkbox-additional-list__svg' width="12" height="12" viewBox="0 -4 12 12"  version="1.1" preserveAspectRatio="xMinYMin">
        <use xlink:href="#img-expand-more"></use>   
      </svg>
    .checkbox-additional-list__body.checkbox-additional-list__body_disabled
      +checkbox({text:'Завтрак', id:'breackfast'})
      +checkbox({text:'Письменный стол', id:'desk'})
      +checkbox({text:'Стул для кормления', id:'chair'})
      +checkbox({text:'Кроватка', id:'cot'})
      +checkbox({text:'Телевизор', id:'tv'})
      +checkbox({text:'Шампунь', id:'shampoo'})
      +checkbox({text:'Телевизор', id:'tv1'})
      +checkbox({text:'Шампунь', id:'shampoo1'})

mixin checkbox-accessibility(options)
  .checkbox-accessibility
    h3.checkbox-accessibility__title доступность

    .checkbox-accessibility__item     
      input(class="checkbox__item checkbox-accessibility__item" type="checkbox" id="wideCorridor")
      .checkbox-accessibility__inner-wrp
        label(class="checkbox__item-name checkbox-accessibility__item-name" for="wideCorridor")
          h6.checkbox-accessibility__inner-title Широкий коридор
        p.checkbox-accessibility__inner-info Ширина коридоров в номере<br>не менее 91 см.
    
    .checkbox-accessibility__item    
      input(class="checkbox__item checkbox-accessibility__item" type="checkbox" id="assistant")
      .checkbox-accessibility__inner-wrp
        label(class="checkbox__item-name checkbox-accessibility__item-name" for="assistant")
          h6.checkbox-accessibility__inner-title Помощник для инвалидов
        p.checkbox-accessibility__inner-info На 1 этаже вас встретит специалист<br>и проводит до номера.



