.checkbox {
  position: relative;
  display: flex;
  min-height: 20px;
  margin: 10px 0;
}

.checkbox__item {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  outline: none;
  appearance: none;

  &:checked {
    position: relative;
    border: 1px solid $Purple;

    &::before {
      position: absolute;
      top: 2px;
      left: 5px;
      width: 6px;
      height: 8px;
      border-right: 2px solid transparent;
      border-bottom: 2px solid transparent;
      border-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-image-slice: 1;
      transform: rotate(45deg);
      content: "";
    }
  }
}

.checkbox__item-name {
  max-width: 192px;
  margin-left: 9px;
  color: $Dark50;
  font-weight: normal;
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  line-height: 20px;
}

// -------------------------------------checkbox-list
.checkbox-list {
  box-sizing: border-box;
  width: rem(266);
}

.checkbox-list__title {
  box-sizing: border-box;
  color: #1f2041;
  font-weight: 700;
  font-size: 0.85714rem;
  font-family: Montserrat;
  line-height: 1.07143rem;
  text-transform: uppercase;
}

//-------------------------------------checkbox-additional-list
.checkbox-additional-list {
  box-sizing: border-box;
  width: rem(266);
}
.checkbox-additional-list__header {
  position: relative;
  box-sizing: border-box;
}

.checkbox-additional-list__title {
  box-sizing: border-box;
  color: #1f2041;
  font-weight: 700;
  font-size: 0.85714rem;
  font-family: Montserrat;
  line-height: 1.07143rem;
  text-transform: uppercase;
}

.checkbox-additional-list__svg {
  position: absolute;
  top: rem(-1);
  right: rem(17);
}

.checkbox-additional-list__svg_opened {
  transform: rotate(180deg);
}

.checkbox-additional-list__body {
  z-index: 98;
  box-sizing: border-box;
  width: rem(260);
}
.checkbox-additional-list__body_disabled {
  display: none;
}

// ----------------checkbox-accessibility
.checkbox-accessibility {
  width: 266px;
  min-height: 125px;
}

.checkbox-accessibility__title {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 16px;
  color: #1f2041;
  font-weight: 700;
  font-size: 0.85714rem;
  font-family: Montserrat;
  line-height: 1.07143rem;
  text-transform: uppercase;
}

.checkbox-accessibility__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkbox-accessibility__inner-wrp {
  width: 236px;
  margin-bottom: 5px;
}

.checkbox-accessibility__item-name {
  margin: 0;
}

.checkbox-accessibility__inner-title {
  color: $Dark75;
  font-weight: bold;
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  line-height: 18px;
  text-transform: none;
}

.checkbox-accessibility__inner-info {
  color: $Dark50;
  font-weight: normal;
  font-size: 12px;
  font-family: Montserrat;
  font-style: normal;
  line-height: 14px;
  text-transform: none;
}
