.checkbox {
  position: relative;
  min-height: rem(20);
  margin: rem(10) 0;
  padding-left: rem(30);
}

.checkbox_first {
  margin-bottom: rem(10.56);
}

.checkbox__item-name {
  position: relative;
  max-width: rem(192);
  color: $Dark50;
  font-weight: normal;
  font-size: rem(14);
  font-family: Montserrat;
  font-style: normal;
  line-height: rem(20);
  cursor: pointer;
}

.checkbox__item {
  position: absolute;
  top: rem(-1);
  left: rem(-30);
  box-sizing: border-box;
  width: rem(20);
  height: rem(20);
  border: rem(1) solid rgba(31, 32, 65, 0.25);
  border-radius: rem(4);
  outline: none;
  cursor: pointer;
  appearance: none;
  &:checked {
    border: rem(1) solid $Purple;

    &::before {
      position: absolute;
      top: rem(4);
      left: rem(6);
      width: rem(4);
      height: rem(6);
      border-right: rem(2) solid transparent;
      border-bottom: rem(2) solid transparent;
      border-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-image-slice: 1;
      transform: rotate(45deg);
      content: "";
    }
  }
}

// -------------------------------------checkbox-list
.checkbox-list {
  box-sizing: border-box;
  width: rem(266);
}

.checkbox-list__item-wrp {
  margin-top: rem(16);
  padding-right: rem(20);
}

.checkbox-list__title {
  box-sizing: border-box;
  color: #1f2041;
  font-weight: 700;
  font-size: 0.85714rem;
  font-family: Montserrat;
  line-height: 1.07143rem;
  text-transform: uppercase;
}

//-------------------------------------checkbox-additional-list
.checkbox-additional-list {
  box-sizing: border-box;
  width: rem(266);
}
.checkbox-additional-list__header {
  position: relative;
  box-sizing: border-box;
}

.checkbox-additional-list__title {
  box-sizing: border-box;
  color: #1f2041;
  font-weight: 700;
  font-size: 0.85714rem;
  font-family: Montserrat;
  line-height: 1.07143rem;
  text-transform: uppercase;
}

.checkbox-additional-list__svg {
  position: absolute;
  top: rem(0);
  right: rem(15);
}

.checkbox-additional-list__svg_opened {
  top: rem(4);
  right: rem(16);
  transform: rotate(180deg);
}

.checkbox-additional-list__body {
  position: relative;
  top: rem(7);
  z-index: 98;
  box-sizing: border-box;
  width: rem(260);
}
.checkbox-additional-list__body_disabled {
  display: none;
}

// ----------------checkbox-accessibility
.checkbox-accessibility {
  position: relative;
  width: rem(266);
  min-height: rem(125);
  margin-bottom: rem(25);
}

.checkbox-accessibility__title {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: rem(16);
  color: #1f2041;
  font-weight: 700;
  font-size: rem(12);
  font-family: Montserrat;
  line-height: 1.07143rem;
  text-transform: uppercase;
}

.checkbox-accessibility__item {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(5);
}

.checkbox-accessibility__inner-wrp {
  width: rem(236);
  margin-bottom: rem(5);
}

.checkbox-accessibility__item-name {
  margin: 0;
}

.checkbox-accessibility__inner-title {
  margin-top: rem(1);
  color: $Dark75;
  font-weight: bold;
  font-size: rem(14);
  font-family: Montserrat;
  font-style: normal;
  line-height: rem(18);
  text-transform: none;
}

.checkbox-accessibility__inner-info {
  margin-top: rem(5);
  color: $Dark50;
  font-weight: normal;
  font-size: rem(12);
  font-family: Montserrat;
  font-style: normal;
  line-height: rem(14);
  text-transform: none;
}
