mixin calendar(options)
  - const isDisabled = options.disabled ? 'calendar_disabled' : '';

  div(class=`calendar js-calendar ${isDisabled}`)
    div(class='calendar__datepicker js-datepicker')
      .calendar__footer
        .calendar__clean-wrapper
          a.calendar__clean.js-calendar__clean.calendar__clean_disabled Очистить
        a.calendar__apply.js-calendar__apply Применить