//@import "../vendors/datepicker/css/datepicker.min.css";
.date-wrp {
  position: relative;
  box-sizing: border-box;
  width: 266px;
  height: 44px;
  padding: 0 15px;
  border: 1px solid $Dark25;
  border-radius: 4px;

  & > .datepicker-here {
    position: absolute;
    bottom: -375px;
    left: 0;
  }

  & > .datepicker--disable {
    display: none;
  }
}

.date-dropdawn__svg {
  position: absolute;
  top: 15px;
  right: 15px;
}

.date__info {
  width: 150px;
  padding-right: 10px;
  color: $Dark75;
  font-weight: normal;
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  line-height: 44px;
}

//--------------------------------
.date__search-wrp {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 70px;

  & > .datepicker-here {
    position: absolute;
    bottom: -375px;
  }

  & > .datepicker--disable {
    display: none;
  }

  h3 {
    margin-bottom: 5px;
  }
}

.date-wrp--w150 {
  position: relative;
  box-sizing: border-box;
  width: 150px;
  height: 44px;
  padding: 0;
  border: none;
}

//-----------------------------------------------------------air calendar
.datepicker-here {
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  width: 320px;
  height: 369px;
  padding: 0 20px;
  background: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.datepicker-inline {
  width: 280px;
  height: 314px; // 314 приблизительно!!!
}

.datepicker-inline > .datepicker {
  width: 280px;
  height: 314px;
  border: none;
}

.datepicker > .datepicker--nav {
  box-sizing: border-box;
  height: 74px;
  padding-bottom: 0;
  color: $Dark;
  font-weight: bold;
  font-size: 19px;

  font-family: Quicksand;
  font-style: normal;
  line-height: 24px;
  border: none;
}

.datepicker--nav > .datepicker--nav-action svg {
  //-----стрелки
  width: 17px;
  height: 18px;
}

.datepicker--nav > .datepicker--nav-action path {
  //-----стрелки

  fill: #bc9cff;
  stroke: none;
  stroke-width: 0;
}

.datepicker > .datepicker--content {
  box-sizing: border-box;
  min-height: 240px;
  padding: 0;
}

.datepicker--days > .datepicker--days-names {
  // Пн Вт Ср Чт Пт
  height: 40px;
  margin: 0;
}

.datepicker--days-names > .datepicker--day-name {
  color: $Purple;
  font-weight: bold;
  font-size: 12px;
  font-family: Montserrat;
  font-style: normal;
  line-height: 15px;
  text-transform: capitalize;
}

.datepicker--cells.datepicker--cells-days {
  //diva с числами
  min-height: 200px;
  & > .-other-month- {
    //числа другого месяца
    color: $Dark25;
  }
}

//---------------------вставка
.datepicker--cells > .datepicker--cell {
  color: $Dark50;
  font-weight: normal;
  font-size: 12px;
  //день
  font-family: Montserrat;
  font-style: normal;
  line-height: 15px;

  &.-current- {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    line-height: 15px;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 22px;

    &.-focus- {
      color: #fff;
    }
  }

  &.-selected-,
  &.-selected-.-focus-,
  &.-selected-.-current-,
  &.-selected-.-current-.-focus- {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    line-height: 15px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 22px;
  }

  &.-in-range- {
    color: $Dark50;
    background: linear-gradient(
      180deg,
      rgba(188, 156, 255, 0.25) 0%,
      rgba(139, 164, 259, 0.25) 100%
    );
    border-radius: 0;
  }
}

.datepicker--cells > .datepicker--cell-day {
  position: relative;
  //день
  width: 40px;
  height: 40px;
}

.datepicker--cells > .-range-from- {
  color: red;
  background: linear-gradient(
    180deg,
    rgba(188, 156, 255, 0.25) 0%,
    rgba(139, 164, 259, 0.25) 100%
  );
  border-radius: 22px;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 20px;
    height: 40px;
    background: linear-gradient(
      180deg,
      rgba(188, 156, 255, 0.25) 0%,
      rgba(139, 164, 259, 0.25) 100%
    );
    content: "";
  }
}

.datepicker--cells > .-range-to- {
  //конец промежутка
  background: linear-gradient(
    180deg,
    rgba(188, 156, 255, 0.25) 0%,
    rgba(139, 164, 259, 0.25) 100%
  );
  border-radius: 22px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 20px;
    height: 40px;
    background: linear-gradient(
      180deg,
      rgba(188, 156, 255, 0.25) 0%,
      rgba(139, 164, 259, 0.25) 100%
    );
    content: "";
  }
}

.datepicker--cell.datepicker--cell-day.-range-from-.-range-to-.-selected- {
  border-radius: 22px;
  &::after,
  &::before {
    content: none;
  }
}
// .-in-range- {
//   //выбранный промежуток
// }
// .-selected- {
//   //выбранный
// }

.date__datepicker-footer {
  position: absolute;
  bottom: 0;
  left: 20px;
  display: flex;
  justify-content: space-between;
  width: 280px;
  height: 30px;
}

.date__clean,
.date__apply {
  font-weight: bold;
  font-size: 12px;
  font-family: Montserrat;
  font-style: normal;
  line-height: 15px;
  text-transform: uppercase;
  cursor: pointer;
  appearance: button;
}

.date__clean {
  color: $Dark50;
}

.date__apply {
  color: $Purple;
}
 
.datepicker--disable {
  display: none;
}
