//@import "../vendors/datepicker/css/datepicker.min.css";
.date-wrp {
  position: relative;
  box-sizing: border-box;
  width: rem(266);
  height: rem(44);
  padding: 0 rem(15);
  border: rem(1) solid $Dark25;
  border-radius: rem(4);

  & > .datepicker-here {
    position: absolute;
    bottom: rem(-375);
    left: 0;
  }

  & > .datepicker--disable {
    display: none;
  }
}

.date-dropdawn__svg {
  position: absolute;
  top: rem(16);
  right: rem(17);
}

.date__info {
  width: rem(150);
  padding-right: rem(45);
  color: $Dark75;
  font-weight: normal;
  font-size: rem(14);
  font-family: Montserrat;
  font-style: normal;
  line-height: rem(44);
}

.date__info_no-padding {
  padding-right: rem(0);
}
//--------------------------------
.date__search-wrp {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: rem(320);
  height: rem(70);

  & > .datepicker-here {
    position: absolute;
    top: 69px;
  }

  & > .datepicker--disable {
    display: none;
  }

  h3 {
    margin-bottom: rem(5);
  }
}
.date__search-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: rem(12);
  line-height: rem(15);
  text-transform: uppercase;
  color: #1F2041;
}
.date-wrp--w150 {
  position: relative;
  box-sizing: border-box;
  width: rem(150);
  height: rem(44);
  padding: 0;
  border: none;
}

//-----------------------------------------------------------air calendar
.datepicker-here {
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  width: rem(320);
  height: rem(369);
  padding: 0 rem(20);
  background: white;
  border: rem(1) solid rgba(31, 32, 65, 0.25);
  border-radius: rem(4);
  box-shadow: 0 rem(10) rem(20) rgba(31, 32, 65, 0.05);
}

.datepicker-inline {
  width: rem(280);
  height: rem(314); // 314 приблизительно!!!
}

.datepicker-inline > .datepicker {
  width: rem(280);
  height: rem(314);
  border: none;
}

.datepicker > .datepicker--nav {
  box-sizing: border-box;
  height: rem(74);
  padding-bottom: 13px;
  color: $Dark;
  font-weight: bold;
  font-size: rem(19);
  font-family: Quicksand;
  font-style: normal;
  line-height: rem(24);
  border: none;
  position: relative;

}

.datepicker--nav > .datepicker--nav-action svg {
  //-----стрелки
  width: rem(17);
  height: rem(18);
}

.datepicker--nav > .datepicker--nav-action path {
  //-----стрелки
  fill: #bc9cff;
  stroke: none;
  stroke-width: 0;
}
.datepicker__left-arrow {
  position: relative;
  left: -10px;
}
.datepicker__right-arrow {
  position: relative;
  left: 5px;
}

.datepicker > .datepicker--content {
  box-sizing: border-box;
  min-height: rem(240);
  padding: 0;
}

.datepicker--days > .datepicker--days-names {
  // Пн Вт Ср Чт Пт
  height: rem(40);
  margin: 0;
}

.datepicker--days-names > .datepicker--day-name {
  color: $Purple;
  font-weight: bold;
  font-size: rem(12);
  font-family: Montserrat;
  font-style: normal;
  line-height: rem(15);
  text-transform: capitalize;
}

.datepicker--cells.datepicker--cells-days {
  //diva с числами
  min-height: rem(200);
  & > .-other-month- {
    //числа другого месяца
    color: $Dark25;
  }
}

//---------------------вставка
.datepicker--cells > .datepicker--cell {
  color: $Dark50;
  font-weight: normal;
  font-size: rem(12);
  //день
  font-family: Montserrat;
  font-style: normal;
  line-height: rem(15);

  &.-current- {
    color: #fff;
    font-weight: bold;
    font-size: rem(12);
    font-family: Montserrat;
    font-style: normal;
    line-height: rem(15);
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: rem(22);

    &.-focus- {
      color: #fff;
    }
  }

  &.-selected-,
  &.-selected-.-focus-,
  &.-selected-.-current-,
  &.-selected-.-current-.-focus- {
    color: #fff;
    font-weight: bold;
    font-size: rem(12);
    font-family: Montserrat;
    font-style: normal;
    line-height: rem(15);
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: rem(22);
  }

  &.-in-range- {
    color: $Dark50;
    background: linear-gradient(
      180deg,
      rgba(188, 156, 255, 0.25) 0%,
      rgba(139, 164, 259, 0.25) 100%
    );
    border-radius: 0;
  }
}

.datepicker--cells > .datepicker--cell-day {
  position: relative;
  //день
  width: rem(40);
  height: rem(40);
}

.datepicker--cells > .-range-from- {
  color: red;
  background: linear-gradient(
    180deg,
    rgba(188, 156, 255, 0.25) 0%,
    rgba(139, 164, 259, 0.25) 100%
  );
  border-radius: rem(22);

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: rem(20);
    height: rem(40);
    background: linear-gradient(
      180deg,
      rgba(188, 156, 255, 0.25) 0%,
      rgba(139, 164, 259, 0.25) 100%
    );
    content: "";
  }
}

.datepicker--cells > .-range-to- {
  //конец промежутка
  background: linear-gradient(
    180deg,
    rgba(188, 156, 255, 0.25) 0%,
    rgba(139, 164, 259, 0.25) 100%
  );
  border-radius: rem(22);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: rem(20);
    height: rem(40);
    background: linear-gradient(
      180deg,
      rgba(188, 156, 255, 0.25) 0%,
      rgba(139, 164, 259, 0.25) 100%
    );
    content: "";
  }
}

.datepicker--cell.datepicker--cell-day.-range-from-.-range-to-.-selected- {
  border-radius: rem(22);
  &::after,
  &::before {
    content: none;
  }
}
// .-in-range- {
//   //выбранный промежуток
// }
// .-selected- {
//   //выбранный
// }

.date__datepicker-footer {
  position: absolute;
  bottom: 0;
  left: rem(20);
  display: flex;
  justify-content: space-between;
  width: rem(280);
  height: rem(30);
}

.date__clean,
.date__apply {
  font-weight: bold;
  font-size: rem(12);
  font-family: Montserrat;
  font-style: normal;
  line-height: rem(15);
  text-transform: uppercase;
  cursor: pointer;
  appearance: button;
}

.date__clean {
  color: $Dark50;
}

.date__apply {
  color: $Purple;
}
 
.datepicker--disable {
  display: none;
}
