mixin date-calendar(options)
    -var ClassName = (options.isDisable) ? ' datepicker--disable' : ' '
    div(class='datepicker-here'+ClassName)
        .date__datepicker-footer
            a.date__clean Очистить
            a.date__apply Применить

mixin filter-date-dropdown(options)
    .date-wrp
        <svg class="date-dropdawn__svg" width="12" height="12" viewBox="0 -4 12 12"  version="1.1" preserveAspectRatio="xMinYMin">
        <use xlink:href="#img-expand-more"></use>   
        </svg>
        p.date__info
            span.date__info-start 19 авг 
            |- 
            span.date__info-end 23 авг
        +date-calendar({isDisable: false})

mixin date-seach-filds(options)
    
    .date__seach-wrp
        //-    
        .date__seach-inner-wrp
            h3 Прибытие
            .date-wrp--w150
                <svg class="date-dropdawn__svg" width="12" height="12" viewBox="0 -4 12 12"  version="1.1" preserveAspectRatio="xMinYMin">
                <use xlink:href="#img-expand-more"></use>   
                </svg>
                +text_field({type:'date', class:'date__info'})
        .date__seach-inner-wrp
            h3 Выезд    
            .date-wrp--w150
                <svg class="date-dropdawn__svg" width="12" height="12" viewBox="0 -4 12 12"  version="1.1" preserveAspectRatio="xMinYMin">
                <use xlink:href="#img-expand-more"></use>   
                </svg>
                +text_field({type:'date', class:'date__info'})
        +date-calendar({isDisable: false})
        


    