mixin date-calendar(options)
  -var ClassName = (options.isDisable) ? ' datepicker--disable' : ' ';
  div(class='datepicker-here'+ClassName)
    .date__datepicker-footer
      .date__clean-wrap
        a.date__clean.date__clean_disabled Очистить
      a.date__apply Применить

mixin date-filter-dropdown(options)
  .date__wrap
    <svg class="date-dropdawn__svg" width="12" height="12" viewBox="0 -4 12 12"  version="1.1" preserveAspectRatio="xMinYMin">
    <use xlink:href="#img-expand-more"></use>   
    </svg>
    p.date__info.date__info_no-padding
      span.date__info-start 19 авг 
      |-  
      span.date__info-end 23 авг
    +date-calendar({isDisable: true})

mixin date-search-filds(options)
  - var tytle1 = options.tytle1 ? options.tytle1 : 'Прибытие'
  - var tytle2 = options.tytle2 ? options.tytle2 : 'Выезд'

  .date__search-wrp  
    .date__search-inner-wrp
      h3.date__search-title #{tytle1}
      .date__wrap_w150
        <svg class="date-dropdawn__svg" width="12" height="12" viewBox="0 -4 12 12"  version="1.1" preserveAspectRatio="xMinYMin">
        <use xlink:href="#img-expand-more"></use>   
        </svg>
        +text_field({type:'date', class:'date__info', id:'date__prib', readonly: true})
    .date__search-inner-wrp
      h3.date__search-title #{tytle2}    
      .date__wrap_w150
        <svg class="date-dropdawn__svg" width="12" height="12" viewBox="0 -4 12 12"  version="1.1" preserveAspectRatio="xMinYMin">
        <use xlink:href="#img-expand-more"></use>   
        </svg>
        +text_field({type:'date', class:'date__info', id:'date__viezd', readonly: true})
    +date-calendar({isDisable: true})
