@import '../../../../node_modules/air-datepicker/src/sass/datepicker.scss';
@import '../../../../node_modules/air-datepicker/src/sass/datepicker-config';
@import '../../../../node_modules/air-datepicker/src/sass/cell.scss';
@import '../../../../node_modules/air-datepicker/src/sass/navigation.scss';
@import '../../../../node_modules/air-datepicker/src/sass/timepicker.scss';

.date {
  &__wrap {
  
    position: relative;
    box-sizing: border-box;
    width: rem(266);
    height: rem(44);
    padding: 0 rem(15);
    border: rem(1) solid $Dark25;
    border-radius: rem(4);
  
    & > .datepicker-here {
      position: absolute;
      top: rem(50);
      left: 0;
    }
  
    & > .datepicker--disable {
      display: none;
    }
  
    &_w150 {
      position: relative;
      box-sizing: border-box;
      width: rem(150);
      height: rem(44);
      padding: 0;
      border: 0;
    }
  }

  &__info {
    width: rem(150);
    padding-right: rem(45);
    color: $Dark75;
    font-weight: 400;
    font-size: rem(14);
    font-family: Montserrat;
    font-style: normal;
    line-height: rem(44);
    
    &_no-padding {
      padding-right: rem(0);
    }
  }
  
  &__search-wrp {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: rem(320);
    height: rem(70);
  
    & > .datepicker-here {
      position: absolute;
      top: rem(70);
    }
  
    & > .datepicker--disable {
      display: none;
    }
  
    h3 {
      margin-bottom: rem(5);
    }
  }

  &__search-title {
    color: $Dark;
    font-weight: 700;
    font-size: rem(12);
    font-family: Montserrat;
    line-height: rem(15);
    text-transform: uppercase;
  }

  &__datepicker-footer {
    position: absolute;
    bottom: rem(-53);
    left: rem(-1);
    display: flex;
    justify-content: space-between;
    width: calc(100% + 2px);
    height: rem(53);
    padding: rem(18) rem(20) 0;
    background-color: #fff;
    border: rem(1) solid rgba(31, 32, 65, 0.25);
    border-top: 0;
    border-radius: rem(4);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &__clean-wrap {
    min-width: rem(72);
  }
  
  &__clean,
  &__apply {
    font-weight: 700;
    font-size: rem(12);
    font-family: Montserrat;
    font-style: normal;
    line-height: rem(15);
    text-transform: uppercase;
    cursor: pointer;
    appearance: button;
  }
  
  &__clean {
    color: $Dark50;

    &_disabled {
      display: none;
    }
  }

  &__apply {
    color: $Purple;

    &:hover {
      color: rgba(31, 32, 65, 0.5);
    }
  }
}

.date-dropdawn {
  &__svg {
    position: absolute;
    top: rem(15);
    right: rem(16);
  }

  &__svg_in-filter {
    top: rem(14);
    right: rem(15);
  }
}

.datepicker-here {
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  width: rem(320);
  height: max-content;
  padding: 0 rem(20);
  background: white;
  border: rem(1) solid rgba(31, 32, 65, 0.25);
  border-bottom: 0;
  border-radius: rem(4);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 rem(10) rem(20) rgba(31, 32, 65, 0.05);
}

.datepicker-inline {
  width: rem(280);
  padding-bottom: rem(2);
}

.datepicker-inline > .datepicker {
  width: rem(280);
  border: 0;
}

.datepicker > .datepicker--nav {
  position: relative;
  box-sizing: border-box;
  height: rem(73);
  padding: 0 rem(3) rem(12) rem(5);
  color: $Dark;
  font-weight: 700;
  font-size: rem(19);
  font-family: Quicksand;
  font-style: normal;
  line-height: rem(24);
  border: 0;
}

.datepicker--nav > .datepicker--nav-action svg {
  width: rem(17);
  height: rem(18);
}

.datepicker--nav > .datepicker--nav-action path {
  fill: #bc9cff;
  stroke: none;
  stroke-width: 0;
}

.datepicker__left-arrow {
  position: relative;
  left: rem(-10);
}

.datepicker__right-arrow {
  position: relative;
  left: rem(5);
}

.datepicker > .datepicker--content {
  box-sizing: border-box;
  min-height: rem(240);
  padding: 0;
}

.datepicker--days > .datepicker--days-names {
  height: rem(40);
  margin: 0;
}

.datepicker--days-names > .datepicker--day-name {
  color: $Purple;
  font-weight: 700;
  font-size: rem(12);
  font-family: Montserrat;
  font-style: normal;
  line-height: rem(15);
  text-transform: capitalize;
}

.datepicker--cells.datepicker--cells-days {
  min-height: rem(200);

  & > .-other-month- {
    color: $Dark25;
  }
}

.datepicker--cells > .datepicker--cell {
  color: $Dark50;
  font-weight: 400;
  font-size: rem(12);
  font-family: Montserrat;
  font-style: normal;
  line-height: rem(15);

  &.-current- {
    color: #fff;
    font-weight: 700;
    font-size: rem(12);
    font-family: Montserrat;
    font-style: normal;
    line-height: rem(15);
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: rem(22);

    &.-focus- {
      color: #fff;
    }
  }

  &.-selected-,
  &.-selected-.-focus-,
  &.-selected-.-current-,
  &.-selected-.-current-.-focus- {
    color: #fff;
    font-weight: 700;
    font-size: rem(12);
    font-family: Montserrat;
    font-style: normal;
    line-height: rem(15);
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: rem(22);
  }

  &.-in-range- {
    color: $Dark50;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 259, 0.25) 100%);
    border-radius: 0;
  }
}

.datepicker--cells > .datepicker--cell-day {
  position: relative;
  width: rem(40);
  height: rem(40);
}

.datepicker--cells > .-range-from- {
  background: linear-gradient(180deg,rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 259, 0.25) 100%);
  border-radius: rem(22);

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: rem(20);
    height: rem(40);
    background: linear-gradient(180deg,rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 259, 0.25) 100%);
    content: "";
  }
}

.datepicker--cells > .-range-to- {
  background: linear-gradient(180deg,rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 259, 0.25) 100%);
  border-radius: rem(22);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: rem(20);
    height: rem(40);
    background: linear-gradient(180deg,rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 259, 0.25) 100%);
    content: "";
  }
}

.datepicker--cell.datepicker--cell-day.-range-from-.-range-to-.-selected- {
  border-radius: rem(22);

  &::after,
  &::before {
    content: none;
  }
}

.datepicker--disable {
  display: none;
}

.datepicker--cell.datepicker--cell-day.-range-to-,
.datepicker--cell.datepicker--cell-day.-range-from-,
.datepicker--cell.datepicker--cell-day.-in-range-.-current- {
  color: #fff;
  font-weight: 700;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: rem(22);
}

.datepicker--cell.datepicker--cell-day.-in-range-.-current- {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: rem(20);
    height: rem(40);
    background: linear-gradient(180deg,rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 259, 0.25) 100%);
    content: "";
  }
}

.datepicker--cells > .datepicker--cell.-in-range-.-disabled-,
.datepicker--cells > .datepicker--cell.-range-from-.-disabled-,
.datepicker--cells > .datepicker--cell.-range-from-.-disabled-.-focus- {
  font-weight: 400;
  background: none;
  border: 0;
  border-radius: 0;

  &::after {
    display: none;
  }

  &::before {
    display: none;
  }

  &:hover {
    background: #fff;
  }
}

.datepicker--cell.-range-from-,
.datepicker--cell.-range-to- {
  border: 0;
}

.datepicker--cell.-disabled-.-focus- {
  color: $Dark50;
  background: none;
}

.datepicker--cell.-focus- {
  border-radius: 50%;
}

.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-in-range-.datepicker--cell-day.-other-month- {
  color: $Dark25;

  &:hover {
    color: $Dark25;
  }
}