.radio-wrp{
    width: 220px;
    height: 20px;
    display: flex;
    justify-content: space-around;
}
.radio-item{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    border: 1px solid $Dark25;
    box-sizing: border-box;
    border-radius: 10px;
    appearance: none;
    outline: none;
    &:checked{
        border-color: $Purple;
        &::before{
            content:'';
            width: 12px;
            height: 12px;
            position: absolute;
            top: 3px;
            left: 3px;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border-radius: 10px;
        }
          
    }
}
.radio-item-name{
    display: flex;
    flex-direction: row-reverse;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: $Dark75;
}

