.form-elements {

  &__wrapper {
    position: relative;
    max-width: rem(1440);
    margin: 0 auto;
  }

  &__logo {
    position: absolute;
    top: rem(30);
    left: rem(30);
    z-index: 100;
  }
  
  &__inner-wrapper {
    max-width: rem(1160);
    min-height: rem(1853);
    margin: 0 auto;
    padding-top: rem(143);
  }
  
  &__section {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(45);
  
    &_block_dropdowns {
      margin-top: rem(100);
    }
  
    &_block_checkboxes {
      margin-top: rem(69);
    }
  
    &_block_rest {
      margin-top: rem(99);
    }
  }
  
  &__column {
    min-width: rem(320);
    
    &_block_text-fields {
      padding-left: rem(1);
    }
  
    &_block_checkboxes {
      padding-left: rem(26);
    }
  }
  
  &__items-title {
    margin-bottom: rem(5);
    color: #1F2041;
    font-weight: 700;
    font-size: rem(12);
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    line-height: rem(15);
    text-transform: uppercase;
  }

  &__text-field-default-wrapper {
    margin-bottom: rem(20);
  }
  
  &__text-field-hover-wrapper {
    margin-bottom: rem(21);
  }
   
  &__company-wrapper {
    margin-bottom: rem(22);
  }
  
  &__masked-text-field-wrapper {
    margin-bottom: rem(40);
  }
  
  &__date-filter-wrapper {
    margin-bottom: rem(35);
  }
  
  &__filter-date-dropdown-wrapper {
    margin-bottom: rem(40);
  }
  
  &__subscribe-wrapper {
    
    .subscribe {
      position: relative;
      left: rem(-1);
    }
  }
  
  &__checkbox-list-wrapper {
    margin-bottom: rem(39);
  }
  
  &__radio-wrapper  {
    margin-bottom: rem(42);
  }
  
  &__radio-element-wrapper {
    margin-top: rem(15);
  }
    
  &__toggle-wrapper {
    position: relative;
    margin-bottom: rem(44);
  }
    
  &__toggle-element-wrapper {
    margin-top: rem(15);
  }
  
  &__like-wrapper  {
    margin-bottom: rem(40);
  }

  &__like-elements-wrapper {
    display: flex;
    margin-top: rem(15);
  }

  &__like-element-wrapper {
    margin-right: rem(10);
  }
  
  &__rate-wrapper {
    margin-bottom: rem(20);
  }

  &__rate-elements-wrapper {
    display: flex;
    margin-top: rem(18);
  }

  &__rate-element-wrapper {
    margin-right: rem(20);
  }
  
  &__slider-wrapper {
    margin-bottom: rem(16);
  }
  
  &__buttons-wrapper {
    margin-bottom: rem(40);
  }

  &__blue-buttons-wrapper {
    display: flex;
    margin-top: rem(15);
  }

  &__blue-button-wrapper {
    margin-right: rem(19);
  }

  &__white-buttons-wrapper {
    position: relative;
    left: rem(-1);
    display: flex;
    margin-top: rem(30);
  }
  
  &__white-button-wrapper {
    margin-right: rem(20);
  }

  &__empty-buttons-wrapper {
    display: flex;
    margin-top: rem(31);
    
    :first-child {
      margin-right: rem(10);
    }
  }

  &__big-button-wrapper {
    position: relative;
    left: rem(-1);
    margin-top: rem(30);
  }
  
  &__pagination {
    &-wrapper{
      margin-bottom: rem(20);
    }

    &-item {
      margin-top: rem(16);
    }
  }
   
  &__dropdowns-wrapper {
    min-height: rem(250);

    .form-elements__items-title {
      margin-bottom: rem(4);
    }
  }
  
  &__dropdown-wrapper {
    margin-top: rem(20);
  }
  
  &__dropdown-company-wrapper {
    position: relative;
    top: rem(-1);
    margin-left: rem(55);
  }
  
  &__dropdown-company-filled-wrapper {
    position: relative;
    left: rem(-1);

    .form-elements__items-title {
      margin-bottom: rem(4);
    }
  }
  
  &__opened-checkbox-additional-list-wrapper {
    margin-top: rem(49);
  }
  
  
  &__checkbox-accessibility-wrapper {
    
    margin-left: rem(27);
  }
  
  &__comment-wrapper {
    margin-top: rem(9);
  }
}
