ul.footer__nav
  li.footer__nav-item.footer__nav-title навигация
  li.footer__nav-item
    a.footer__item-link(href="/mock-address/change-me") О нас
  li.footer__nav-item
    a.footer__item-link(href="/mock-address/change-me") Новости
  li.footer__nav-item
    a.footer__item-link(href="/mock-address/change-me") Служба поддержки
  li.footer__nav-item
    a.footer__item-link(href="/mock-address/change-me") Услуги
ul.footer__about
  li.footer__about-item.footer__about-title о нас
  li.footer__about-item
    a.footer__item-link(href="/mock-address/change-me") О сервисе
  li.footer__about-item
    a.footer__item-link(href="/mock-address/change-me") Наша команда
  li.footer__about-item
    a.footer__item-link(href="/mock-address/change-me") Вакансии
  li.footer__about-item
    a.footer__item-link(href="/mock-address/change-me") Инвесторы
ul.footer__support
  li.footer__support-item.footer__support-title Служба поддержки
  li.footer__support-item
    a.footer__item-link(href="/mock-address/change-me") Соглашения
  li.footer__support-item
    a.footer__item-link(href="/mock-address/change-me") Сообщества
  li.footer__support-item
    a.footer__item-link(href="/mock-address/change-me") Связь с нами