mixin footer__navigation-list(options)
  -
    const className = options.class
    const title = options.title
    const items = options.items
  
  ul(class=className)
    li(class=`${className}-item ${className}-title`)= title
    each val in items
      li(class=`${className}-item`)
        a(class='footer__item-link' href='/mock-address/change-me')= val

+footer__navigation-list({
  class: 'footer__nav',
  title: 'навигация',
  items: ['О нас', 'Новости', 'Служба поддержки', 'Услуги']
})

+footer__navigation-list({
  class: 'footer__about',
  title: 'о нас',
  items: ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']
})

+footer__navigation-list({
  class: 'footer__support',
  title: 'Служба поддержки',
  items: ['Соглашения', 'Сообщества', 'Связь с нами']
})