mixin checkbox(options)
  -
    const {
      checked = false,
      text = ''
    } = options

  .checkbox
    label(class='checkbox__item-name')=text
      input(class='checkbox__item' type='checkbox' checked=checked)