mixin checkbox(options)
  -
    const {
      checked = false,
      text = '',
      first = false
    } = options

  .checkbox(class=`${first ? 'checkbox_first' : ''}`)
    label(class='checkbox__item-name')=text
      if (checked)
        input(class='checkbox__item' type='checkbox' checked='checked')
      else 
        input(class='checkbox__item' type='checkbox')