mixin checkbox(options)
  -
    const {
      checked = false,
      text = '',
      isFirst = false
    } = options

  .checkbox(class=`${isFirst ? 'checkbox_first' : ''}`)
    label(class='checkbox__item-name')=text
      input(class='checkbox__item' type='checkbox' checked=checked)