@import '../../scss/utils/vars.scss';
@import '../../scss/utils/mixins.scss';

.registration-page {

  &__inner-wrapper {
    position: relative;
    max-width: rem(1440);
    margin: 0 auto;
    padding: rem(19) rem(140);
    background: url("../../static/source/registration-background.jpg") no-repeat 50% rem(-70), white;
    
    @media screen and (max-width: 1200px){
      width: 100%;
      min-width: rem(420);
    }
  }
  
  &__registration-card {
    width: max-content;
    margin: 0;
    margin-left: rem(393);

    @media screen and (max-width: 1200px){
      margin: 0 auto;
    }
  }
}
