extends ../base.pug
block title
  title Registration
block content
  include ../../static/sprite.svg
  include ../../blocks/registration-card/registration-card.pug
  include ../../blocks/header/header.pug
  include ../../blocks/footer/footer.pug
  
  .registration-page
    .registration-page__header
      +header({})

    main.registration-page__wrapper
      section.registration-page__inner-wrapper
        .registration-page__registration-card
          +registration-card({})

    .registration-page__footer
      +footer({})