<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="keywords" content="Toxin, отель, отдых")
    meta(name="description" content="Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения.")
    link(rel="icon", href="img/favicon.ico" type="image/ico")
    title Form Elements
  body
    main.form-elements__wrap
      .form-elements__inner-wrap
      