include ../static/sprite.svg
include ../blocks/form_elements/text_field/text_field.pug
include ../blocks/form_elements/dropdown/dropdown.pug
include ../blocks/form_elements/date/date.pug
include ../blocks/form_elements/checkbox/checkbox.pug
include ../blocks/form_elements/radio/radio.pug
include ../blocks/form_elements/toggle/toggle.pug
include ../blocks/form_elements/like/like.pug
include ../blocks/form_elements/rate/rate.pug
include ../blocks/form_elements/slider/slider.pug
include ../blocks/form_elements/buttons/buttons.pug
include ../blocks/form_elements/pagination/pagination.pug
include ../blocks/form_elements/bullet_list/bullet_list.pug
include ../blocks/form_elements/comment/comment.pug
include ../blocks/form_elements/room_info/room_info.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="keywords" content="Toxin, отель, отдых")
    meta(name="description" content="Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения.")
    link(rel="icon", href="img/favicon.ico" type="image/ico")
    title Form Elements
  body
    main.form-elements__wrap
      img.form-elements__logo(src='../static/source/logo-gray.png' alt='logo' width=48 height=48)
      .form-elements__inner-wrap

        section.form-elements__section.form-elements__section-1
          .form-elements__col
            .form-elements__item.form-elements__text-field-default-wrap
              h6.form-elements__items-tytle text Field
              +text_field({type: 'email'})
            
            .form-elements__item
              h6.form-elements__items-tytle text Field
              +text_field({type: 'text', placeholder: 'This is pretty awesome'})
            
            .form-elements__item 
              h6.form-elements__items-tytle dropdown
              +dropdownCompany({})
            
            .form-elements__item.form-elements__masked-text-field-wrap
              h6.form-elements__items-tytle masked text field
              +text_field({type: 'date'})
            
            .form-elements__item
              .form-elements__date-search-filds-wrap
                +date-search-filds({tytle1: 'date Dropdown',  tytle2: 'date Dropdown'})
            
            .form-elements__item 
              .form-elements__filter-date-dropdown-wrap
                h6.form-elements__items-tytle filter date dropdown
                +date-filter-dropdown({})
            
            .form-elements__item 
              .form-elements__subscribe-wrap
                h6.form-elements__items-tytle subscription text field
                +subscribe({w267: true})

          .form-elements__col.form-elements__col-12
            .form-elements__item.form-elements__checkbox-list-wrap
              +checkbox-list({})
            
            .form-elements__item
              .form-elements__radio-wrap  
                h6.form-elements__items-tytle Radio Buttons
                .form-elements__radio-element-wrap
                  +radio({})
            
            .form-elements__item
              .form-elements__toggle-wrap  
                h6.form-elements__items-tytle toggle
                .form-elements__toggle-element-wrap 
                  +toggle({checked: true})
                .form-elements__toggle-element-wrap
                  +toggle({})
            
            .form-elements__item
              .form-elements__like-wrap
                h6.form-elements__items-tytle like button
                .form-elements__like-elements-wrap 
                  .form-elements__like-element-wrap 
                    +like({value: 2})
                  +like({liked: true, value: 12})

            .form-elements__item
              .form-elements__rate-wrap
                h6.form-elements__items-tytle rate button
                .form-elements__rate-elements-wrap
                  .form-elements__rate-element-wrap
                    +rate({rating: 4})
                  +rate({rating: 5})

          .form-elements__col
            .form-elements__item
              +slider({tytle : 'Range Slider'})

            .form-elements__item
              .form-elements__buttons-wrap
                h6.form-elements__items-tytle buttons
                .form-elements__blue-buttons-wrap
                  .form-elements__blue-button-wrap
                    +button({})
                  +button({})

              .form-elements__white-buttons-wrap
                .form-elements__white-button-wrap
                  +button({white:true})
                +button({white:true})
              
              
              .form-elements__white-emptybuttons-wrap
                .form-elements__emptybutton-wrap
                  +emptybutton({})
                +emptybutton({text: 'click me'})

              .form-elements__big-button-wrap
                +button({big: true})

            .form-elements__item
              .form-elements__pagination-wrap
                h6.form-elements__items-tytle pagination
                .form-elements__pagination-element-wrap
                  +pagination({})
       
        section.form-elements__section.form-elements__section-2
          .form-elements__col
            .form-elements__dropdowns-wrap
              h6.form-elements__items-tytle dropdown
              +dropdown({small: true, count1: 2, count2: 2})
              .form-elements__dropdown-wrap
                h6.form-elements__items-tytle dropdown
                +dropdown({expanded: true, small: true, count1: 2, count2: 2})
              
          .form-elements__col
            .form-elements__item
              .form-elements__dropdown-company-wrap  
                h6.form-elements__items-tytle dropdown
                +dropdownCompany({expanded: true})

          .form-elements__col
            .form-elements__item
              h6.form-elements__items-tytle dropdown
              .form-elements__dropdown-expanded-company-wrap 
                +dropdownCompany({expanded: true, count1: 2, count2: 1})
        
        section.form-elements__section.form-elements__section-3
          .form-elements__col
            .form-elements__checkbox-additional-list-wrap
              +checkbox-additional-list({tytle: 'expandable checkbox list'})

            .form-elements__opened-checkbox-additional-list-wrap
              +checkbox-additional-list({opened: true, tytle: 'expandable checkbox list'})
              
          .form-elements__col
            .form-elements__checkbox-accessibility-wrap
              +checkbox-accessibility({tytle: 'Rich Checkbox Buttons'})

          .form-elements__col
            .form-elements__bullet-wrap
              +bullet({})

        section.form-elements__section.form-elements__section-4
          .form-elements__col
            .form-elements__item
              +room_info({num: 2})

          .form-elements__col
            .form-elements__comment-wrap
              +comment({})
      