include ../blocks/header/header.pug
include ../blocks/footer/footer.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="keywords" content="Toxin, отель, отдых")
    meta(name="description" content="Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения.")
    link(rel="icon", href="img/favicon.ico" type="image/ico")
    title Headers & Footers
  body
    main.headers-and-footers__wrap
      .headers-and-footers__inner-wrap
        .headers-and-footers__header-wrap
          +mainheader({authorized: false})
        .headers-and-footers__header-wrap
          +mainheader({authorized: true, name: 'Юлий Цезарь'})

        .headers-and-footers__footer-wrap
          +footer()

        //- iframe.headers-and-footers__footer-wrap_small(src="", frameborder="0")
        //- //- .headers-and-footers__footer-wrap.headers-and-footers__footer-wrap_small
        //- //-   +footer()


      