include ../static/sprite.svg
//-include ../blocks/btn/btn.pug для подключения миксинов
include ../blocks/form_elements/text_field/text_field.pug
include ../blocks/form_elements/dropdown/dropdown.pug
include ../blocks/form_elements/date/date.pug
include ../blocks/form_elements/checkbox/checkbox.pug
include ../blocks/form_elements/radio/radio.pug
include ../blocks/form_elements/toggle/toggle.pug
include ../blocks/form_elements/like/like.pug
include ../blocks/form_elements/rate/rate.pug
include ../blocks/form_elements/slider/slider.pug
include ../blocks/form_elements/buttons/buttons.pug
include ../blocks/form_elements/pagination/pagination.pug
include ../blocks/form_elements/bullet_list/bullet_list.pug
include ../blocks/form_elements/room_info/room_info.pug
include ../blocks/cards/search/search.pug
include ../blocks/cards/registration/registration.pug
include ../blocks/cards/reserve/reserve.pug
include ../blocks/cards/inter/inter.pug
include ../blocks/cards/rooms/rooms.pug


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Toxin UI-KIT
    body
        
        main.wrapper
            .elements-wrapper
                h1 Form Elements
                br
                h3 Text Field
                .flex-wrapper.fw.h150
                    +text_field({type:'email'})
                    +text_field({type:'text'})
                    +text_field({type:'text', placeholder: 'Фамилия'})
                    +text_field({type:'password'})
                    +text_field({type:'date'})
                br
                h3 Dropdown
                .flex-wrapper 
                    +dropdown({expanded:'true'})
                    +dropdownCompany({expanded:'true'})
                br
                h3 Filter date dropdown
                .flex-wrapper    
                    +filter-date-dropdown({})
                    
                    +date-calendar({})
                    
                    +date-search-filds({})
                br
                br
                h3 Checkbox Buttons
                .flex-wrapper
                    +checkbox({text:'Hello world!', id:'wello-world'})
                    +checkbox-list({})
                    +checkbox-additional-list({})
                    +richcheckbox({})
                
                h3 Radio Buttons
                .flex-wrapper
                    +radio({})
                br
                h3 toggle
                .colomn-wrapper
                    +toggle({checked: true})
                    +toggle({})
                br
                h3 like button
                .flex-wrapper
                    .colomn-wrapper
                        +like({})
                        +like({liked: true})
                    +comment({})
                br

                h3 rate button
                .flex-wrapper
                    .colomn-wrapper
                        h5 Dinamic
                        +rate({isClickable:true})
                    .colomn-wrapper
                        h5 Static
                        +rate({rating: '1'})
                        +rate({rating: '5'})    
                br
                h3 Range Slider
                .flex-wrapper
                    
                    +slider({})
                br
                h3 buttons
                .flex-wrapper
                    //.colomn-wrapper(style="min-height: 150px;")
                    +button({})
                    +button({White:true})
                    +button({Big:true})
                    
                br
                h3 pagination
                .flex-wrapper
                    +pagination({})
                br
                h3 bullet list
                .center-wrapper
                    +bullet({})
                br

                h3 Сведения о номере
                .flex-wrapper
                    +room_info({})
                br
                h1 Cards
                .flex-wrapper(style="flex-wrap: wrap;")
                    +reserve-card
                    +search-card
                    +registration-card
                    +inter
                    
                br
                .flex-wrapper
                    +rooms
                    +rooms
                    +rooms
                br
                br
                br