include ../static/sprite.svg
//-include ../blocks/btn/btn.pug для подключения миксинов
include ../blocks/form_elements/text_field/text_field.pug
include ../blocks/form_elements/dropdown/dropdown.pug
include ../blocks/form_elements/date/date.pug
include ../blocks/form_elements/checkbox/checkbox.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Toxin UI-KIT
    body
        
        main.wrapper
            .elements-wrapper
                h1 Form Elements
                br
                h3 Text Field
                .flex-wrapper.fw.h150
                    +text_field({type:'email'})
                    +text_field({type:'text'})
                    +text_field({type:'text', placeholder: 'Фамилия'})
                    +text_field({type:'password'})
                    +text_field({type:'date'})
                br
                h3 Dropdown
                .flex-wrapper 
                    +dropdown({expanded:'true'})

                    //-+drd-item({id:'fadult'})

                    +dropdownCompany({expanded:'true'})
                br
                h3 Filter date dropdown
                .flex-wrapper    
                    +filter-date-dropdown({})
                    
                    +date-calendar({})
                    
                    +date-seach-filds({})
                br
                h3 Checkbox Buttons
                .flex-wrapper
                    .block-wrapper
                        +checkbox({text:'Vasya'})
                        +checkbox({text:'Petya'})
                        +checkbox({text:'Dima'})


                    +checkbox-list({})
                    +checkbox-additional-list({})
                br
                br



                

                
                




            