extends ../base.pug
block title
  title Demo page
block content
  body
    main.demo-page__wrap
    ul.demo-page__list
      each value, index in {'main': 'Website', 'colors-and-types': 'Colors & Type', 'cards': 'Cards', 'headers-and-footers': 'Headers & Footers', 'form-elements': 'Form Elements'}
        li.demo-page__item
          a.demo-page__link(href=`${index}.html`)= value