extends ../base.pug
block title
  title Demo page
block content
  body
    main.demo-page__wrap
      ul.demo-page__list
        li.demo-page__item
          a.demo-page__link(href='main.html') Website

        li.demo-page__item
          a.demo-page__link(href='colors-and-types.html') Colors & Type
        
        li.demo-page__item
          a.demo-page__link(href='cards.html') Cards
        
        li.demo-page__item
          a.demo-page__link(href='headers-and-footers.html') Headers & Footers
        
        li.demo-page__item
          a.demo-page__link(href='form-elements.html') Form Elements
