<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="keywords" content="Toxin, отель, отдых, UI-kit")
    meta(name="description" content="Toxin - Лучшие номера для вашей работы, отдыха и просто вдохновения. UI-kit - набор компонентов.")
    link(rel="icon", href="img/favicon.ico" type="image/ico")
    title Demo page
  body
    main.demo-page__wrap
      ul.demo-page__list
        li.demo-page__item
          a.demo-page__link(href="main.html") Website

        li.demo-page__item
          a.demo-page__link(href="colors-and-types.html") Colors & Type
        
        li.demo-page__item
          a.demo-page__link(href="cards.html") Cards
        
        li.demo-page__item
          a.demo-page__link(href="headers-and-footers.html") Headers & Footers
        
        li.demo-page__item
          a.demo-page__link(href="form-elements.html") Form Elements
