.room-info {
  width: rem(280);
  min-height: rem(207);

  :last-child {
    margin-bottom: 0;
  }

  &__item {
    display: flex;
    width: rem(280);
    height: rem(68);
    margin-bottom: rem(20);
    border-bottom: rem(1) solid rgba(31, 32, 65, 0.1);
  
    &_without-border {
      border: none;
    }
  }
  
  &__information {
    margin-left: rem(14);
    line-height: rem(24);
  
    & > .room-info__title {
      color: $Dark75;
      font-weight: 700;
      font-size: rem(14);
      font-family: Montserrat, Arial, sans-serif;
      font-style: normal;
      
    }
  }
  
  &__information-facilities {
    margin-left: rem(16);
  }
  &__information-cosiness {
    margin-top: rem(1);
    margin-left: rem(17);
  }

}

@import './__fire/room-info__fire.scss';

@import './__house/room-info__house.scss';

@import './__smile/room-info__smile.scss';