.search-card {
  position: relative;
  width: rem(380);
  min-height: rem(374);
  padding: 0 rem(29);
  background: #fff;
  border: rem(1) solid rgba(0, 0, 0, 0.12);
  border-radius: rem(4);
  box-shadow: 0 0 rem(25) rgba(0, 0, 0, 0.2);

  &__title {
    margin: 0;
    margin-top: rem(39);
    color: #1f2041;
    font-weight: 700;
    font-size: rem(25);
    font-family: Quicksand, Arial, sans-serif;
    line-height: rem(29);
    letter-spacing: rem(0.8);
  }

  &__date {
    margin-top: rem(22);
  }

  &__company-title {
    margin: 0;
    margin-top: rem(16);
    color: #1F2041;
    font-weight: 700;
    font-size: rem(12);
    font-family: Montserrat, Arial, sans-serif;
    line-height: rem(15);
    text-transform: uppercase;
  }

  &__company {
    margin-top: rem(4);
  }

  &__button {
    margin-top: rem(31);
  }
}