include ../text-field/text-field.pug
include ../subscribe/subscribe.pug
include ../navigation-list/navigation-list.pug
include ../logo/logo.pug
include ../social-media/social-media.pug

mixin footer(options)
  footer.footer
    main.footer__main
      .footer__logo
        a.footer__logo-link(href='index.html')
          +logo()
        p.footer__logo-info Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      
      .footer__navigation
        +navigation-list({
          title: 'навигация',
          items: ['О нас', 'Новости', 'Служба поддержки', 'Услуги']
        })
      .footer__about
        +navigation-list({
          title: 'о нас',
          items: ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']
        })
      .footer__support
        +navigation-list({
          title: 'служба поддержки',
          items: ['Соглашения', 'Сообщества', 'Связь с нами']
        })

      .footer__subscribe
        p.footer__subscribe-title Подписка
        p.footer__subscribe-info Получайте специальные предложения и новости сервиса
        +subscribe({})
    
    footer.footer__copyright-wrapper
      .footer__copyright-inner-wrapper  
        span.footer__copyright-info Copyright © 2018 Toxin отель. Все права зачищены.
        address.footer__socials
          
          .footer__twitter
            +social-media({name: 'twitter', width: 24, height: 20})

          .footer__facebook
            +social-media({name: 'facebook'})

          .footer__instagram
            +social-media({name: 'instagram'})

  .footer__line
