include ../form_elements/text-field/text-field.pug

mixin footer(options)
  footer.footer__wrap
    main.footer__inner-wrap
      include ./components/footer-logo.pug
      include ./components/footer-nav.pug
      include ./components/footer-sub.pug
    
    include ./components/footer-foo.pug
  .footer__line
