.text-field {
  width: rem(320);
  height: rem(44);
  padding: 0 rem(15);
  color: $Dark25;
  font-weight: 400;
  font-size: rem(14);
  font-family: Montserrat, Arial, sans-serif;
  line-height: rem(18);
  border: rem(1) solid $Dark25;
  border-radius: rem(4);

  &:hover,
  &:focus {
    color: $Dark75;
    border: rem(1) solid $Dark50;
  }
}