mixin radio(options)
    .radio-wrp
        label(class="radio-item-name" ) Мужчина
            input(class="radio-item" type="radio" name="radio" )
        
        label(class="radio-item-name" ) Женщина
            input(class="radio-item" type="radio" name="radio")