mixin radio(options)
	.radio
		label(class="radio__item-name" ) Мужчина
			input(class="radio__item" type="radio" name="radio" checked)

		label(class="radio__item-name" ) Женщина
			input(class="radio__item" type="radio" name="radio")