mixin reserve-card(options)
  form.reserve-card
    header.reserve-card__header
      span.reserve-card__symbol-num №
      span.reserve-card__number 888
      span.reserve-card__type люкс
      span.reserve-card__cost <b>9 990₽ </b>
    .reserve-card__date-search
      +date-filter({})
    h3.reserve-card__company-title гости
    .reserve-card__company-count
      +dropdown-company({big: true, expanded: false})
    .reserve-card__info-wrapper
      .reserve-card__info-item 
        p.reserve-card__info  <span class='reserve__info-cost'>9 990₽</span> х <span class='reserve__info-days'>4</span> суток
        span.reserve-card__info-sum 39 960₽    
      .reserve-card__info-item
        p.reserve-card__info   Сбор за услуги: скидка <span class='reserve__info-discount'>2 179₽</span>
          svg(class='reserve-card__info-icon' width='20' height='20' viewBox='0 0 20 20' fill='none' )
            circle(cx='10' cy='10' r='9.5' stroke='#1F2041' stroke-opacity='0.25')
            path(fill='#1F2041' fill-opacity='0.25' d='M9.25463 7.544H11.1266V14H9.25463V7.544ZM10.1906 6.644C9.84663 6.644 9.56663 6.544 9.35063 6.344C9.13463 6.144 9.02663 5.896 9.02663 5.6C9.02663 5.304 9.13463 5.056 9.35063 4.856C9.56663 4.656 9.84663 4.556 10.1906 4.556C10.5346 4.556 10.8146 4.652 11.0306 4.844C11.2466 5.036 11.3546 5.276 11.3546 5.564C11.3546 5.876 11.2466 6.136 11.0306 6.344C10.8146 6.544 10.5346 6.644 10.1906 6.644Z')
        span.reserve-card__info-sum 0₽
      .reserve-card__info-item
        p.reserve-card__info  Сбор за дополнительные услуги
          svg(class='reserve-card__info-icon' width='20' height='20' viewBox='0 0 20 20' fill='none' )
            circle(cx='10' cy='10' r='9.5' stroke='#1F2041' stroke-opacity='0.25')
            path(fill='#1F2041' fill-opacity='0.25' d='M9.25463 7.544H11.1266V14H9.25463V7.544ZM10.1906 6.644C9.84663 6.644 9.56663 6.544 9.35063 6.344C9.13463 6.144 9.02663 5.896 9.02663 5.6C9.02663 5.304 9.13463 5.056 9.35063 4.856C9.56663 4.656 9.84663 4.556 10.1906 4.556C10.5346 4.556 10.8146 4.652 11.0306 4.844C11.2466 5.036 11.3546 5.276 11.3546 5.564C11.3546 5.876 11.2466 6.136 11.0306 6.344C10.8146 6.544 10.5346 6.644 10.1906 6.644Z')
        span.reserve-card__info-sum 300₽
      
      footer.reserve-card__summury-info-item
        span.reserve-card__summury-info Итого
        span.reserve-card__summury-info-sum 38 081₽
    .reserve-card__button
      +button({size: 'big', text: 'забронировать'})  
