//.text_field-wrp{}
.text-field {
    width: 320px;
    height: 44px;
    
    border: 1px solid  $Dark25;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Montserrat;
    padding: 0 15px;
    font-size: 14px;
    line-height: 18px;
    color: $Dark25;
    &:hover,
    &:focus{
        color: $Dark75;
    }
}

.text-field__date{
    
}