.text-field {
  box-sizing: border-box;
  width: rem(320);
  height: rem(44);
  padding: 0 rem(15);
  color: $Dark25;
  font-size: rem(14);
  font-family: Montserrat;
  line-height: rem(18);
  border: rem(1) solid $Dark25;
  border-radius: rem(4);

  &:hover,
  &:focus {
    color: $Dark75;
    border: rem(1) solid $Dark50;
  }
}
  
.subscribe {
  position: relative;
  box-sizing: border-box;
  width: rem(260);
  
  &_w267 {
    position: relative;
    top: -1px;
    width: rem(267);

    & > .text-field.footer__subscribe-send {
      width: rem(267);
    }
  }
}
  
.footer__subscribe-send {
  position: relative;
  box-sizing: border-box;
  width: rem(260);
  padding-right: rem(44);
}
  
.subscribe-send-svg {
  position: absolute;
  top: rem(14);
  right: rem(13);
  box-sizing: border-box;
}
  