//.text_field-wrp{}
.text-field {
    width: 320px;
    height: 44px;
    
    border: 1px solid  $Dark25;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Montserrat;
    padding: 0 15px;
    font-size: 14px;
    line-height: 18px;
    color: $Dark25;
    &:hover,
    &:focus{
        color: $Dark75;
    }
}

.text-field__date{}

.subscribe-wrp{
    box-sizing: border-box;
    position: relative;
    width: rem(260);
    //padding: 0 15px;
}
.footer__subscribe-send{
    box-sizing: border-box;
    position: relative;
    width: rem(260);
    padding-right: 44px;
}
.subscribe-send-svg{
    box-sizing: border-box;
    position: absolute;
    right: 13px;
    top: 12px;


}