mixin search-card(options)
    .search-wrp
        h1.search__title Найдём номера под ваши пожелания
        +date-search-filds({})
        h3.search-company гости
        +dropdownCompany({expanded: false})
        +button({Big:true, text:'подобрать номер', href: "search_room.html"})
        