mixin search-card(options)
  form.search
    h1.search__title Найдём номера под ваши пожелания
    .search__date
      +date-search-filds({})
    h3.search__company-title гости
    .search__company
      +dropdownCompany({expanded: false})
    .search__button
      +button({big:true, text:'подобрать номер', href: "search_room.html"})
        