mixin inter(options)
  form.inter
    h2.inter__title Войти
    .inter__text-field-wrp
      +text_field({type:'email'})
    .inter__text-field-wrp
      +text_field({type:'password'})
    .inter__button-wrp
      +button({big: true, text: 'Войти'})
    p.inter__footer
      span.inter__question Нет аккаунта на Toxin?
      +button({white: true, text: 'Создать', href: 'registration.html'})
