.inter {
  position: relative;
  width: rem(380);
  height: rem(358);
  padding: 0 rem(29);
  background: white;
  border: rem(1) solid rgba(0, 0, 0, 0.12);
  border-radius: rem(4);
  box-shadow: 0 0 rem(25) rgba(0, 0, 0, 0.2);

  &__title {
    margin-top: rem(38);
    margin-bottom: rem(21);
    color: #1f2041;
    font-weight: 700;
    font-size: rem(25);
    font-family: Quicksand;
    line-height: rem(30);
    letter-spacing: rem(1);
  }

  &__text-field-wrp {
    margin-bottom: rem(10);
  }

  &__button-wrp {
    margin-top: rem(20);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: rem(30);
  }

  &__question {
    line-height: rem(44);
  }
}