.inter {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 380px;
  height: 358px;
  padding: 0 30px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.inter__text-field-wrp {
  margin-top: 10px;
}

.inter__button-wrp {
  margin-top: 20px;
}

.inter__title {
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: Quicksand;
  font-weight: bold;
  font-size: rem(25);
  line-height: rem(30);
  color: #1F2041;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.inter__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
  
.inter__question {
  line-height: 44px;
}