mixin carousel(options)
  ul.carousel
    li.carousel__item.carousel__item_active.js-carousel-1
    li.carousel__item.js-carousel-2
    li.carousel__item.js-carousel-3
    li.carousel__item.js-carousel-4