mixin carousel(options)
  -
    const {
      activeItem = 0
    } = options

    let i = 0
    
  
  ul.carousel.js-carousel
    while i < 4
      li.carousel__item(class=`${i === activeItem ? 'carousel__item_active' : ''}`)
      - i += 1