extends ../base.pug
block title
  title Headers & Footers
block content
  include ../../blocks/header/header.pug
  include ../../blocks/footer/footer.pug
  include ../../static/sprite.svg
  body
    main.headers-and-footers__wrapper
      img.headers-and-footers__logo(src='../../static/source/logo-gray.png' alt='logo' width=48 height=48)
      .headers-and-footers__inner-wrapper
        .headers-and-footers__header-wrapper
          +mainheader({authorized: false})
        .headers-and-footers__header-wrapper
          +mainheader({authorized: true, name: 'Юлий Цезарь'})

        .headers-and-footers__footer-wrapper
          +footer({})
      