.headers-and-footers {
  &__wrapper {
    position: relative;
    background: #F4F4F6;
  }
  
  &__logo {
    position: absolute;
    top: rem(30);
    left: rem(30);
    z-index: 100;
  }
  
  &__inner-wrapper {
    position: relative;
    max-width: rem(1440);
    margin: 0 auto;
    padding: rem(140) 0;
    
  }
  
  &__header-wrapper,
  &__footer-wrapper {
    margin-bottom: rem(40);
  }
  
  &__footer-wrapper_small {
    width: rem(768);
    min-height: rem(367);
    margin: 0 auto;
    border: rem(1) rebeccapurple solid;
  }
}