.checkbox-accessibility {
  position: relative;
  width: rem(266);

  &__title {
    margin: 0;
    margin-bottom: rem(16);
    color: #1f2041;
    font-weight: 700;
    font-size: rem(12);
    font-family: Montserrat, Arial, sans-serif;
    line-height: rem(16);
    text-transform: uppercase;
  }
 
  &__item-wrapper {
    position: relative;
    margin-bottom: 11px;
    padding-left: 30px;
  }

  &__item-title {
    color: $Dark75;
    font-weight: 700;
    font-size: rem(14);
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    line-height: rem(18);
  }
  
  &__item {
    position: absolute;
    top: 13px;
    left: -30px;
  }

  &__item-info {
    margin-top: rem(5);
    color: $Dark50;
    font-weight: 400;
    font-size: rem(12);
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    line-height: rem(14);
    white-space: pre-wrap;
  }
}