mixin footer__navigation-list(options)
  -
    const title = options.title
    const items = options.items
  
  ul(class=attributes.class)
    li(class=`${attributes.class}-item ${attributes.class}-title`)= title
    each val in items
      li(class=`${attributes.class}-item`)
        a(class='footer__item-link' href='/mock-address/change-me')= val
