.footer {
  
  &__navigetion,
  &__about,
  &__support {
    margin-top: rem(5);
    color: $Dark50;
    font-weight: 400;
    font-size: rem(14);
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    line-height: rem(17);
    list-style: none;

    @media screen and (max-width: 1200px) {
      width: auto;
      padding: 0;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__navigetion {
    width: rem(240);
    min-width: rem(146);
    padding-left: rem(38);
  }

  &__about {
    width: rem(200);
    min-width: rem(111);
  }

  &__support {
    width: rem(200);
    min-width: rem(147);
  }

  &__navigetion-item,
  &__about-item,
  &__support-item {
    margin-bottom: rem(20);

    &:hover {
      color: $Dark75;
    }
  }

  &__navigetion-title,
  &__about-title,
  &__support-title,
  &__subscribe-title {
    margin-bottom: rem(21);
    color: $Dark;
    font-weight: 700;
    font-size: rem(12);
    line-height: rem(15);
    text-transform: uppercase;
    cursor: default;

    &:hover {
      color: $Dark;
    }
  }

  &__item-link {
    color: rgba(31, 32, 65, 0.5);
  }
}