.subscribe {
  position: relative;
  width: rem(260);

  &_size_big {
    position: relative;
    top: rem(-1);
    width: rem(267);
  }

  .text-field {
    position: relative;
    width: 100%;
    padding-right: rem(44);
  }

  &__send {
    position: absolute;
    top: rem(13);
    right: rem(13);
  }
}