@import '../../scss/utils/vars.scss';
@import '../../scss/utils/mixins.scss';

.color-item {
  display: flex;
  min-width: rem(270);

  &__rectangle {
    flex-shrink: 0;
    width: rem(70);
    min-height: rem(70);
    margin-right: rem(40);
    border-radius: rem(6);
  
    &_theme_dark-100 {
      background-color: $Dark;
    }
    &_theme_dark-75 {
      background-color: $Dark75;
    }
    &_theme_dark-50 {
      background-color: $Dark50;
    }
    &_theme_dark-25 {
      background-color: $Dark25;
    }
    &_theme_dark-5 {
      background-color: $Dark5;
    }
    &_theme_purple {
      background-color: $Purple;
    }
    &_theme_green {
      background-color: $Green;
    }
  }

  &__text {
    align-items: center;
    padding-top: rem(5);
    color: #1F2041;
    font-weight: 400;
    font-size: rem(19);
    font-family: Quicksand, Arial, sans-serif;
    font-style: normal;
    line-height: rem(29);
  }

  &__color-text {
    font-weight: 700;
    letter-spacing: rem(0.3);
    white-space: pre-wrap;
  }
}