include ../like/like.pug

mixin comment(options)
  -
    const {
      img = '../../static/source/image-murad48.png',
      name = 'Мурад Сарафанов',
      days = '5',
      comment = `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.
        И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто
        не жаловался из соседей.`
      } = options

  .comment
    .comment__user
      img(class='comment__user-foto' src=img alt='avatar')
      p.comment__user-info 
        span(class='comment__user-name')=name
        if (days==7)
          span(class='comment__days-ago') неделю назад 
        else 
          span(class='comment__days-ago')=`${days} дней назад`

    .comment__info
      .comment__info-like
        +like({liked: true, value: '12'})
      p.comment__info-text=comment