.rate__wrp{
    width: 100px;
    height: 20px;
    display: flex;
    position: relative;
    
}
.rate__wrp--reverse{
    flex-direction: row-reverse;
}
.rate__star{
    display: none;
}

.rate__star-lbl{
    width: 20px;
    height: 19px;
    display: block;
    
    //background-color: gold;
    cursor: pointer;
    &::before{
        content: '';
        width: 20px;
        height: 19px;
        position: absolute;
        background: url(../static/source/star_border.svg);
    }
    &::after{
        content: '';
        width: 20px;
        height: 19px;
        position: absolute;
        background: url(../static/source/star.svg);
        opacity: 0;
        transition: 0.5s
    }
    &:hover::after{
        opacity: 1;
    }
}
.rate__wrp .rate__star-lbl:hover ~ .rate__star-lbl::after,
.rate__wrp .rate__star:checked ~ .rate__star-lbl::after{
    opacity: 1;
}

.rate__stars{
    width: 100px;
    display: flex;
    list-style: none;
}
.rate__item{
    width: 20px;
    height: 20px;
    background: url(../static/source/star_border.svg);
}
.rate__item--full{
    background: url(../static/source/star.svg);
}


