.rate {
  position: relative;
  display: flex;
  width: rem(120);
  height: rem(20);

  &_reverse {
    flex-direction: row-reverse;
  }
}

.rate__star {
  display: none;
}

.rate__star-lbl {
  display: block;
  width: rem(20);
  height: rem(19);
  cursor: pointer;
  &::before {
    position: absolute;
    width: rem(20);
    height: rem(19);
    background: url(../static/source/star_border.svg) no-repeat;
    content: "";
  }
  &::after {
    position: absolute;
    width: rem(20);
    height: rem(19);
    background: url(../static/source/star.svg) no-repeat;
    opacity: 0;
    transition: 0.5s;
    content: "";
  }
  &:hover::after {
    opacity: 1;
  }
}
.rate .rate__star-lbl:hover ~ .rate__star-lbl::after,
.rate .rate__star:checked ~ .rate__star-lbl::after {
  opacity: 1;
}

.rate__stars {
  display: flex;
  justify-content: space-between;
  width: rem(120);
  list-style: none;
}
.rate__item {
  width: rem(20);
  height: rem(20);
  background: url(../static/source/star_border.svg) no-repeat;
}
.rate__item--full {
  background: url(../static/source/star.svg) no-repeat;
}
