mixin rate(options)
  - const value = options.rating ? options.rating : '0'
  - let i=0
  - let j=0
  
  if (options.isClickable)
    .rate.rate_reverse
      input.rate__star#star1(type='radio' name='stars')
      label.rate__star-lable(for='star1')

      input.rate__star#star2(type='radio' name='stars')
      label.rate__star-lable(for='star2')

      input.rate__star#star3(type='radio' name='stars')
      label.rate__star-lable(for='star3')

      input.rate__star#star4(type='radio' name='stars')
      label.rate__star-lable(for='star4')

      input.rate__star#star5(type='radio' name='stars')
      label.rate__star-lable(for='star5')
  else
    .rate
      ul.rate__stars
        while (i < value)
          li.rate__item.rate__item_full
          -i++
        while (j < 5-value)
          li.rate__item
          -j++
