mixin rate(options)
  -var value = (options.rating)? options.rating : '0'
  -var i=0
  -var j=0
  if (options.isClickable)
    .rate.rate_reverse
      input.rate__star#star1(type="radio" name="stars")
      label.rate__star-lbl(for="star1")

      input.rate__star#star2(type="radio" name="stars")
      label.rate__star-lbl(for="star2")

      input.rate__star#star3(type="radio" name="stars")
      label.rate__star-lbl(for="star3")

      input.rate__star#star4(type="radio" name="stars")
      label.rate__star-lbl(for="star4")

      input.rate__star#star5(type="radio" name="stars")
      label.rate__star-lbl(for="star5")
  else
    .rate
      ul.rate__stars
        while (i < value)
          li.rate__item.rate__item--full
          -i++
        while (j < 5-value)
          li.rate__item
          -j++
