//-----------------------------кнопочки + -
mixin dropdownItem(options)
  .dropdown__item-box
    <svg class='js-minus-btn' cl width="30" height="31" viewBox="0 0 30 31" version="1.1" preserveAspectRatio="xMinYMin">
    <use xlink:href="#img-group-"></use>
    </svg>
    span(class='dropdown__item-value' id=options.id) 0
    <svg class="js-plus-btn" width="30" height="31" viewBox="0 0 30 31" version="1.1" preserveAspectRatio="xMinYMin">
    <use xlink:href="#img-group+"></use>
    </svg>

//-----------------------------стрелочка svg
mixin dropdownMainSVG
  <svg class="dropdown__main-svg" width="12" height="12" viewBox="0 -4 12 12"  version="1.1" preserveAspectRatio="xMinYMin">
  <use xlink:href="#img-expand-more"></use>   
  </svg>

//------------------кол-во удобств
mixin dropdown(options)
  - var isExpanded = (options.expanded) ? ' dropdown__list_expanded' : ''
  .dropdown__wrp.js-dropdown__wrp-comfort 
    +dropdownMainSVG
    p.dropdown__main <span class="dropdown-bedroom">0<span> спальни, <span class="dropdown-bed">0<span> кровати...

    ul(class='dropdown__list'+isExpanded)
      li.dropdown__item 
        span.dropdown__item-name спальни
        +dropdownItem({id:'js-bedroom'})
      li.dropdown__item 
        span.dropdown__item-name кровати
        +dropdownItem({id:'js-bed'}) 
      li.dropdown__item 
        span.dropdown__item-name ванные комнаты
        +dropdownItem({id:'js-bathroom'}) 

//------------------------кол-во людей
mixin dropdownCompany(options)
  - var small = (options.small) ? ' dropdown__wrp_266': '' //заглушка для width
  - var isExpanded = (options.expanded) ? ' dropdown__list_expanded' : ''

  div(class='dropdown__wrp dropdown__wrp_320 js-dropdown__wrp-company'+small)
    +dropdownMainSVG
    p.dropdown__main Сколько гостей

    ul(class='dropdown__list'+isExpanded)
      li.dropdown__item.dropdown__item-fadult 
        span.dropdown__item-name взрослые
        +dropdownItem({id:'js-fadult'})
      li.dropdown__item.dropdown__item-child 
        span.dropdown__item-name дети
        +dropdownItem({id:'js-child'}) 
      li.dropdown__item.dropdown__item-baby 
        span.dropdown__item-name младенцы
        +dropdownItem({id:'js-baby'})
      li.dropdown__item.dropdown__list-footer
        a.dropdown__item-clean.dropdown__item-clean_disable Очистить
        a.dropdown__item-apply Применить