.dropdown-wrp{
    box-sizing: border-box;
    width: 266px;
    //border: 1px solid $Dark5;
    position: relative;
}

.dropdown-main__svg{
    position: absolute;
    top: 14px;
    right: 17px;
}

.dropdown-main{
    width: 100%;
    min-height: 44px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 43px;

    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 7px;

    color: $Dark75;

    border: 1px solid $Dark25;
    box-sizing: border-box;
    
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    
    svg{
        margin-top: 15px;
    }
}
.dropdown-list{
    width: 100%;
    min-height: 119px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;

    padding-left: 15px;
    padding-right: 7px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;

    color: $Dark;

    border: 1px solid $Dark25;
    border-top: none;
    box-sizing: border-box;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.dropdown-list--expanded {
    display: flex;
}
.dropdown-item{
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.item-name{
    max-width: 140px;
}
.item-value{
    width: 99px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.dropdown-item__clean{
    color: $Dark50;
}
.dropdown-item__apply{
    color: $Purple;
    position: absolute;
    right: 0;
}
.dropdown-item__clean--disable{
    display: none;
}


.wrp320{
    width: 320px;
    .dropdown-list{
        min-height: 159px;
    }
}

