mixin drd-item(options)
    .item-value
        <svg class='minusBtn' id='minusBtn' cl width="30" height="31" viewBox="0 0 30 31" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMinYMin">
        <use xlink:href="#img-group-"></use>
        </svg>
        span(class='dropdown-item__value' id=options.id) 0
        <svg class="plusBtn" width="30" height="31" viewBox="0 0 30 31" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMinYMin">
        <use xlink:href="#img-group+"></use>
        </svg>

mixin drd-main__svg
        <svg class="dropdown-main__svg" width="12" height="12" viewBox="0 -4 12 12"  version="1.1" preserveAspectRatio="xMinYMin">
        <use xlink:href="#img-expand-more"></use>   
        </svg>

//------------------
mixin dropdown(options)
    - var Big = (options.isBig) ? '1': '2' //заглушка для width
    - var Expanded = (options.expanded) ? ' dropdown-list--expanded' : ''
    .dropdown-wrp.dropdown-comfort 
        +drd-main__svg
        p.dropdown-main <span class="dropdown-bedroom">0<span> спальни, <span class="dropdown-bed">0<span> кровати...
             
        ul(class='dropdown-list'+Expanded)
            li.dropdown-item 
                span.item-name спальни
                +drd-item({id:'bedroom'})
            li.dropdown-item 
                span.item-name кровати
                +drd-item({id:'bed'}) 
            li.dropdown-item 
                span.item-name ванные комнаты
                +drd-item({id:'bathroom'}) 

mixin dropdownCompany(options)
    - var Big = (options.isBig) ? '1': '2' //заглушка для width
    - var Expanded = (options.expanded) ? ' dropdown-list--expanded' : ''
    
    .dropdown-wrp.wrp320.dropdown-company
        +drd-main__svg
        p.dropdown-main Сколько гостей
             
        ul(class='dropdown-list'+Expanded)
            li.dropdown-item.fadult-ui 
                span.item-name взрослые
                +drd-item({id:'fadult'})
            li.dropdown-item.child-ui 
                span.item-name дети
                +drd-item({id:'child'}) 
            li.dropdown-item.baby-ui 
                span.item-name младенцы
                +drd-item({id:'baby'})
            li.dropdown-item
                a.dropdown-item__clean.dropdown-item__clean--disable Очистить
                a.dropdown-item__apply Применить