include ../checkbox/checkbox.pug

mixin checkbox-list(options)
  - const title = options.title || 'Checkbox Buttons'
  
  .checkbox-list
    h3.checkbox-list__title= title
    .checkbox-list__items
      +checkbox({text: 'Можно курить', id: 'smoke', first: true})
      +checkbox({text: 'Можно с питомцами', id: 'pets', checked: true})
      +checkbox({text: 'Можно пригласить гостей (до 10 человек)', id: 'frends', checked: true})