mixin toggle(options)
  -
    const {
    text = 'Получать спецпредложения',
    checked = false
    } = options
  
  .toggle
    label(class='toggle__item-name')= text
      input(class='toggle__item' type='checkbox' checked=checked)