.rate {
  position: relative;
  display: flex;
  padding-right: rem(2);
  padding-left: rem(2);


  &__stars {
    display: flex;
    justify-content: space-between;
    width: rem(116);
    list-style: none;
  }

  &__item {
    width: rem(20);
    min-height: rem(20);
    background: url(../static/source/star-border.svg) no-repeat;
    
    &_full {
      background: url(../static/source/star.svg) no-repeat;
    }
  }
}
