mixin rate(options)
  -
    const {rating = 0} = options
    let i=0
    let j=0
  
  .rate
    ul.rate__stars
      while (i < rating)
        li.rate__item.rate__item_full
        -i += 1
      while (j < 5 - rating)
        li.rate__item
        -j += 1
