include ../../form-elements/radio/radio.pug
include ../../form-elements/toggle/toggle.pug

mixin registration-card(options)
  form.registration-card
    h2.registration-card__title Регистрация аккаунта
    .registration-card__text-field
      +text-field({type: 'text'})
    .registration-card__text-field
      +text-field({type: 'text', placeholder: 'Фамилия'})
    .registration-card__radio
      +radio({})
    h3.registration-card__small-title дата рождения
    .registration-card__date-field
      +text-field({type: 'date'})
    h3.registration-card__small-title данные для входа в сервис
    .registration-card__text-field
      +text-field({type:'email'})
    .registration-card__text-field
      +text-field({type: 'password'})
    .registration-card__toggle-field
      +toggle({})
    .registration-card__button-field
      +button({size: 'big', text: 'перейти к оплате'})
    p.registration-card__footer
      span.registration-card__account Уже есть аккаунт на Toxin
      +button({theme: 'white', text: 'Войти', href: 'sign-in.html'})
