include ../../form-elements/date-filter/date-filter.pug
include ../../form-elements/text-field/text-field.pug
include ../../form-elements/dropdown/dropdown.pug
include ../../form-elements/buttons/button/button.pug

mixin search-card(options)
  form.search-card
    h2.search-card__title Найдём номера под ваши пожелания
    .search-card__date
      +date-filter({})
    h3.search-card__company-title гости
    .search-card__company
      +dropdown-company({big: true, expanded: false})
    .search-card__button
      +button({size: 'big', text: 'подобрать номер', href: 'search-room.html'})
        