.reserve {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: rem(380);
  height: rem(511);
  padding: 0 rem(30);
  background: white;
  border: rem(1) solid rgba(0, 0, 0, 0.12);
  border-radius: rem(4);
  box-shadow: 0 0 rem(25) rgba(0, 0, 0, 0.2);
}

.reserve__header {
  display: flex;
  margin-top: rem(43);
  margin-bottom: rem(15);
}

.reserve__num {
  color: $Dark;
  font-weight: bold;
  font-size: rem(14);
  font-family: Quicksand;
  line-height: rem(30);
}

.reserve__number-i {
  margin-left: rem(2);
  color: $Dark;
  font-weight: bold;
  font-size: rem(24);
  font-family: Quicksand;
  line-height: rem(21);
  letter-spacing: rem(0.9);
}

.reserve__type,
.reserve__type-i {
  margin-left: rem(5);
  color: $Purple;
  font-weight: bold;
  font-size: rem(12);
  font-family: Montserrat;
  font-style: normal;
  line-height: rem(30);
  text-transform: uppercase;
}

.reserve__cost {
  margin-left: auto;
  color: $Dark50;
  font-weight: bold;
  font-size: rem(14);
  font-family: Montserrat;
  line-height: rem(30);

  &::after {
    font-weight: normal;
    font-size: rem(12);
    content: "в сутки";
  }
}

.reserve__date-search {
  margin-bottom: rem(14);
}

.reserve__company-title {
  margin-bottom: rem(5);
  color: #1f2041;
  font-weight: bold;
  font-size: rem(12);
  font-family: Montserrat;
  line-height: rem(15);
  text-transform: uppercase;
}

.reserve__company-count {
  margin-bottom: rem(17);
}

.reserve__info-wrp {
  width: rem(320);
}

.reserve__info-item {
  display: flex;
  justify-content: space-between;
  margin-top: rem(5);
  margin-bottom: rem(15);
  color: $Dark75;
  font-size: rem(14);
  font-family: Montserrat;
  line-height: rem(18);
}

.reserve__info {
  position: relative;
  box-sizing: border-box;
  width: rem(239);
  padding-right: rem(25);
}

.reserve__info-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.reserve__summury-info-item {
  display: flex;
  justify-content: space-between;
  margin-top: rem(31);
  margin-bottom: rem(20);
  color: $Dark;
  font-weight: bold;
  font-size: rem(19);
  font-family: Quicksand;
  font-style: normal;
  line-height: rem(24);
}

.reserve__summury-info {
  position: relative;
  font-size: rem(20);

  &::after {
    position: absolute;
    bottom: rem(6);
    left: rem(62);
    width: rem(182);
    height: rem(0);
    border-top: rem(1) dotted $Dark25;
    content: "";
  }
}

.reserve__button {
  position: relative;
  left: rem(-1);
}
