.reserve-wrp{
    width: 380px;
    height: 511px;
    padding: 0 30px;

    position: relative;
    display: flex;
    flex-direction: column;
    //justify-content: space-around;
    box-sizing: border-box;

    background: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    .date__search-wrp{
        margin-bottom: 20px;
    }
    h3{
        margin-bottom: 5px;
    }
    .dropdown-company{
        margin-bottom: 17px;
    }
    .date__search-wrp{
        margin-bottom: 14px;
    }
}
.reserve__header{
    display: flex;
    //justify-content: space-between;
    margin-bottom: 14px;
    margin-top: 43px;
    
}
.reserve__number-i,
.reserve__num{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    color: $Dark;
}
.reserve__number-i{
    font-size: 24px;
    line-height: 21px;
    letter-spacing: 0.9px;
    margin-left: 2px;
}
.reserve__type{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    color: $Purple;
    margin-left: 5px;
}
.reserve__cost{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    color: $Dark50;
    margin-left: auto;
    &::after{
        content: 'в сутки';
        font-weight: normal;
        font-size: 12px;
    }    
}

.reserve__info-wrp{
    width: 320px;
    
}
.reserve__info-item {
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    
    font-size: 14px;
    line-height: 24px;
    color: $Dark75;
    margin-bottom: 10px;
}
.reserve__info{
    box-sizing: border-box;
    width: 239px;
    padding-right: 25px;

    position: relative;
    .info-icon{
        position: absolute;
        top:0;
        right: 0;
    }
}
.reserve__info-item__summury{
    display: flex;
    justify-content: space-between;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: $Dark;
    margin-top: 20px;
    margin-bottom: 20px;
}
.info-summury{
    position: relative;
    
    &::after{
        content: '';
        width: 182px;
        height: 0px;
        //background: red;
        border-top: 1px dotted $Dark25;
        position: absolute;
        bottom: 6px;
        left: 62px;
    }
}