mixin bullet(options)
  -
    const {
    title = 'Bullet list',
    items = [
      'Нельзя с питомцами',
      'Без вечеринок и мероприятий',
      'Время прибытия — после 13:00, а выезд до 12:00'
    ]} = options

  .bullet
    h3.bullet__title=title
    ul.bullet__list
      for value in items
        li.bullet__item=value
