.cards__wrap {
  position: relative;
}
.cards__logo {
  position: absolute;
  top: rem(30);
  left: rem(30);
  z-index: 100;
}
.cards__inner-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: rem(1440);
  height: rem(1350);
  margin: 0 auto;
  padding: rem(150) rem(140) 0;
  background: #F4F4F6;
}

.cards__registration-wrap {
  position: relative;
  top: rem(-119);
}

.cards__inter-wrap {
  position: relative;
  height: max-content;
  top: rem(18);
  left: rem(-25);
}

.cards__rooms-wrap {
  height: max-content;
  position: relative;
  top: rem(-124);
  left: rem(-50);
}

.cards__first-room {
  height: max-content;
  margin-bottom: rem(40);
}
