.demo-page__wrap {
  width: 100vw;
  max-width: 1440px;
  // margin: 50px auto 0;
  padding: 50px 50px 0;
}
.demo-page__list {
  min-width: 380px;
  list-style: none;
}
.demo-page__item {
  margin-top: 30px;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
}
.demo-page__link {
  
}