.headers-and-footers__inner-wrap {
  position: relative;
  max-width: rem(1440);
  margin: 0 auto;
  padding: rem(140) 0;
}

.headers-and-footers__header-wrap,
.headers-and-footers__footer-wrap {
  margin-bottom: rem(40);
}

.headers-and-footers__footer-wrap_small {
  width: rem(768);
  margin: 0 auto;
  border: 1px rebeccapurple solid;
}