@import "utils/reset.scss";
@import "utils/fonts.scss";
@import "utils/vars.scss";
@import "utils/mixins.scss";

html {
    font-size: $mainFontSize;
    font-family: $mainFont;
    line-height: $mainLineHeight; 
    background-color: rgb(229, 241, 227) ;
    box-sizing: border-box;
}
h1 {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
    box-sizing: border-box;
    margin: 30px 0;
}
h2 {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;

    color: #1F2041;
}
h3 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    margin: 5px 0;
} 
br{ margin: 30px 0;}

.wrapper {
        
        width: 1440px;
        margin: 0 auto;
}

.elements-wrapper{
    width: 1440px;
    box-sizing: border-box;
    padding: 0 10%;
    background: #fff;
}
.flex-wrapper{
    display: flex;
    justify-content: space-between;
}
.fw{
    flex-wrap: wrap; 
}
.h150{
    min-height: 150px;
}


@import "../blocks/form_elements/text_field/text_field.scss";

@import "../blocks/form_elements/dropdown/dropdown.scss";
@import "../blocks/form_elements/date/date.scss";
//@import "../vendors/datepicker/css/datepicker.scss";
//@import "../blocks/btn/btn.scss";
