// br{ margin: 15px 0;}

.ui-kit__wrapper {    
    width: 1440px;
    margin: 0 auto;
    
    h1 {
        text-align: center;
    }
} 

.elements-wrapper{
    width: 1440px;
    box-sizing: border-box;
    padding: 0 10%;
    background: #fff;
}
.flex-wrapper{
    display: flex;
    justify-content: space-between;
}
.fw{
    flex-wrap: wrap; 
}
.h150{
    min-height: 150px;
}
.colomn-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 50px;
    justify-content: space-around;
}
.center-wrapper{
    width: max-content;
    margin: 0 auto;
}
