.ui-kit__wrapper {
  width: 100%;    
  max-width: rem(1440);
  margin: 0 auto;
}
.ui-kit__title {
  margin: rem(30) 0;
  text-align: center;
}
.ui-kit__wrap-for-footer {
  position: relative;
  width: rem(767);
}
.ui-kit__wrap-for-elements,
.ui-kit__wrap-for-cards {
  box-sizing: border-box;
  width: 100%;
  max-width: rem(1440);
  padding: 0 10%;
  background: #fff;
}
.ui-kit__simple-flex-wrap{
  display: flex;
  justify-content: space-around;
}
.ui-kit__simple-colomn-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: rem(50);
}

// modifiers
.fw {
  flex-wrap: wrap; 
}
.h150 {
  min-height: rem(150);
}
.mh210 {
  min-height: rem(210);
}


// .center-wrapper {
//     width: max-content;
//     margin: 0 auto;
// }
