extends ../base.pug
block title
  title Cards
  
block content
  body.cards__body
    include ../../static/sprite.svg
    include ../../blocks/cards/search-card/search-card.pug
    include ../../blocks/cards/reserve-card/reserve-card.pug
    include ../../blocks/cards/registration-card/registration-card.pug
    include ../../blocks/cards/inter-card/inter-card.pug
    include ../../blocks/cards/room-card/room-card.pug
    include ../../blocks/form-elements/date-filter/date-filter.pug
    main
      img.cards__logo(src='../../static/source/logo-gray.png' alt='logo' width=48 height=48)
      .cards__inner-wrapper
        +search-card({})
        +reserve-card({})
        .cards__calendar-wrapper
          +calendar({disable: false})
        .cards__registration-wrapper
          +registration-card()
        .cards__inter-wrapper
          +inter-card()
        .cards__rooms-wrapper
          .cards__first-room
            +room-card({bg : '../../static/source/room-888.jpg', number : '888', notlux: false, cost: '9 990', arrows: true})
          +room-card({bg : '../../static/source/room-840.jpg', number : '840', notlux: true, cost: '9 990', likes: 65, rating: 4})