@import '../../scss/utils/vars.scss';
@import '../../scss/utils/mixins.scss';

.cards {
  position: relative;
  background: #F4F4F6;

  &__logo {
    position: absolute;
    top: rem(30);
    left: rem(30);
    z-index: 100;
  }
  
  &__inner-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: rem(1440);
    min-height: rem(1350);
    margin: 0 auto;
    padding: rem(150) rem(140) 0;
  }
  
  &__search-wrapper {
    align-self: baseline;
  }
  
  &__reserve-wrapper {
    align-self: baseline;
  }
  
  &__calendar-wrapper {
    position: relative;
    top: rem(-24);
    align-self: baseline;
  }

  &__registration-wrapper {
    position: relative;
    top: rem(-185);
    align-self: baseline;
  }
  
  &__inter-wrapper {
    position: relative;
    top: rem(-48);
    left: rem(-25);
    align-self: baseline;
    max-height: max-content;
  }
  
  &__rooms-wrapper {
    position: relative;
    top: rem(-102);
    left: rem(-50);
    align-self: baseline;
    max-height: max-content;
  }
  
  &__room-wrapper {
    max-height: max-content;
    margin-bottom: rem(40);
  }
}