defs
  linearGradient(id='percent-pie__satisfactorily-gradient' x1='0%' y1='0%' x2='0%' y2='100%')
    stop(offset='0%' stop-color='#BC9CFF')
    stop(offset='100%' stop-color='#8BA4F9')

  linearGradient(id='percent-pie__good-gradient' x1='0%' y1='0%' x2='0%' y2='100%')
    stop(offset='0%' stop-color='#6FCF97')
    stop(offset='100%' stop-color='#66D2EA')

  linearGradient(id='percent-pie__perfectly-gradient' x1='0%' y1='0%' x2='0%' y2='100%')
    stop(offset='0%' stop-color='#FFE39C')
    stop(offset='100%' stop-color='#FFBA9C')

  linearGradient(id='percent-pie__disappointed-gradient' x1='0%' y1='0%' x2='0%' y2='100%')
    stop(offset='0%' stop-color='#919191')
    stop(offset='100%' stop-color='#3D4975')