.pie-chart__wrap {
  display: flex;
  justify-content: space-between;
}

.c1 {
  width: rem(100);
  height: rem(100);
}

.circle {
  transform: rotate(-90deg);

  transform-origin: center center;
  animation: dash 2s linear;
  fill: none;
  stroke: #e75735;
  stroke-width: rem(5);
  stroke-dashoffset: 0;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.circle__text {
  display: inline;
  font-size: rem(24);
  font-family: Lato-Light;
  fill: #9d9d9d;
  text-anchor: middle;
}

.circle-pie {
  transform: rotate(-90deg);
  transform-origin: center center;
  animation: dash 2s linear;
  fill: none;
  stroke: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  stroke-width: rem(4);
  stroke-dashoffset: 0;
}

.c2 {
  width: rem(120);
  height: rem(120);
}


#pie2 {
  border: rem(1) solid black;
  transform: rotate(1deg);
}

#pie3 {
  transform: rotate(90deg);
}

#pie4 {
  transform: rotate(270deg);
}

.circle__text2 {
  position: relative;
  font-weight: 700;
  font-size: rem(24);
  font-family: Quicksand, Arial, sans-serif;
  fill: #bc9cff;
}

#text2 {
  font-weight: 700;
  font-size: rem(12);
  font-family: Montserrat, Arial, sans-serif;
  text-transform: uppercase;
}