.slider__wrp {
  width: rem(266);
  min-height: rem(72);
}

.slider__info-wrp {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: rem(15);
  margin-bottom: rem(20);
}

.slider__info-title {
  margin: 0;
  color: #1f2041;
  font-weight: 700;
  font-size: rem(12);
  font-family: Montserrat;
  line-height: rem(14);
  text-transform: uppercase;
}

.slider__info {
  color: $Dark50;
  font-weight: 400;
  font-size: rem(12);
  font-family: Montserrat;
  font-style: normal;
  line-height: rem(15);
}

// - переоределение стилей плагина slider
.slider {
  position: relative;
  top: rem(3);
  left: rem(-1);
  box-sizing: border-box;
  width: rem(266);
  height: rem(6);
  margin-bottom: rem(17);

  .ui-slider-handle.ui-corner-all.ui-state-default {
    //---handele
    box-sizing: border-box;
    width: rem(14);
    height: rem(14);
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border: rem(2) solid #fff;
    border-radius: rem(10);
  }
  .ui-slider-range.ui-corner-all.ui-widget-header {
    //------range
    position: relative;
    top: -1;
    height: rem(6);
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  }
}
