mixin slider(options)
    .slider__wrp
        .slider__info-wrp
            h3.slider__info-title диапазон цены
            p.slider__info <span id="js-range-start">5 000</span>₽ - <span id="js-range-end">10 000</span>₽
        .slider#slider
        p.slider__info Стоимость за сутки пребывания в номере