mixin slider(options)
    .slider-wrp
        .slider-info-wrp
            h3.slider-info-title диапазон цены
            p.slider-info <span id="range-start">5000</span>₽ - <span id="range-end">10000</span>₽
        .slider#slider
        p.slider-info Стоимость за сутки пребывания в номере