include ../form-elements/buttons/button/button.pug
include ./list/list.pug

mixin header(options)
  -
    const isAuthorized = options.authorized ? 'header__inner-wrapper_authorized' : ''
    const isUserName = options.name || 'Cosmin Negoita'
    const activeLink = options.activeLink || 1

  header.header
    div(class=`header__inner-wrapper ${isAuthorized}`)
      
      include ./logo/logo.pug
      
      +list({
        items: ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения'],
        itemClasses: ['about', 'service', 'vacancy', 'news', 'agreement']
      })
      
      .header__autorization
        .header__inter
          +button({size: 'small', theme: 'white', text: 'войти', href: 'sign-in.html'})
        .header__registration
          +button({size: 'middle', text: 'зарегистрироваться',  href: 'registration.html'})
      
      span.header__user= isUserName