include ../form_elements/buttons/button/button.pug
include ./__list/header__list.pug

mixin header(options)
  -
    const isAuthorized = options.authorized ? 'header__inner-wrapper_authorized' : ''
    const isUserName = options.name || 'Cosmin Negoita'
    const activeLink = options.activeLink || 1

  header.header
    div(class=`header__inner-wrapper ${isAuthorized}`)
      
      include ./__logo/header__logo.pug
      
      +header__list({
        items: ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения'],
        itemClasses: ['about', 'service', 'vacancy', 'news', 'agreement']
      })
      
      include ./__autorization/header__autorization.pug
      
      span.header__user= isUserName