include ../form_elements/buttons/buttons.pug

mixin mainheader(options)
  - const isAuthorized = options.authorized ? 'header__inner-wrap_authorized': ''
  - const isName = options.name ? options.name : 'Cosmin Negoita'
  - const activeLink = options.activeLink ? options.activeLink : 1

  header.header__wrap
    div(class="header__inner-wrap "+isAuthorized)
      
      include ./components/header-logo.pug
      
      include ./components/header-nav.pug
      
      include ./components/header-auth.pug
      
      span.header__user= isName