mixin header__navigation-item(options)
  -
    const classNamePrefix = options.class || 'default' 
    const text = options.text || 'text'
    const isActive = options.active || false
    const isDropdownLink = options.dropdown || false

    const linkClassName =   isActive ? 'header__item-link header__item-link_active' : 'header__item-link'
    const href = options.href || '/mock-address/change-me'
  
  li(class=`header__item header__${classNamePrefix}`)
    a(class=linkClassName href=href)=text
    if (isDropdownLink)
      svg(class='header__expand-svg' width='12' height='12' viewBox='0 -4 12 12'  version='1.1' preserveAspectRatio='xMinYMin')
        use(xlink:href='#img-expand-more')