.header {
  max-width: rem(1440);
  min-height: rem(70);
  margin: 0 auto;
  padding-top: rem(15);
  background: white;
  box-shadow: 0 rem(10) rem(20) rgba(31, 32, 65, 0.05);

  @media screen and (max-width: 1200px) {
    min-width: rem(380);
    padding: rem(15) rem(50);
  }

  @media screen and (max-width: 950px) {
    min-height: rem(100);
  }
  

  &__inner-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: rem(1160);
    margin: 0 auto;
  
    @media screen and (max-width: 1200px) {
      justify-content: space-between;
      width: 100%;
    }
  
    @media screen and (max-width: 950px) {
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }
  
    &_authorized {
      .header__authorization {
        display: none;
      }
  
      .header__user {
        display: inline;
      }
  
      .header__list {
        left: rem(250);
      }
    }
  }
  
  .header__navigation {
    margin-top: rem(10);
    margin-left: auto;
  }
  
  &__user {
    position: relative;
    display: none;
    margin-top: rem(5);
    padding-left: rem(20);
    font-weight: 400;
    font-size: rem(14);
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    line-height: rem(30);
    border-left: 1px solid rgba(31, 32, 65, 0.1);
  }

  &__authorization {
    display: flex;
    justify-content: space-between;
    width: rem(303);
    padding-top: rem(3);

    @media screen and (max-width: 950px) {
      margin-top: rem(10);
    }
  
    @media screen and (max-width: 520px) {
      flex-basis: 100%;
      margin: 0 auto;
    }
  }
}