include ../buttons/button/button.pug
include ../logo/logo.pug
include ../navigation/navigation.pug

mixin header(options)
  -
    const isAuthorized = options.authorized ? 'header__inner-wrapper_authorized' : ''
    const isUserName = options.name || 'Cosmin Negoita'
    const activeLink = options.activeLink || 1

  header.header
    div(class=`header__inner-wrapper ${isAuthorized}`)
      
      a.header__logotype(href='main.html')
        +logo()

      .header__navigation
        +navigation({})
      
      .header__authorization
        .header__inter
          +button({size: 'small', theme: 'white', text: 'войти', href: 'sign-in.html'})
        .header__registration
          +button({size: 'middle', text: 'зарегистрироваться',  href: 'registration.html'})
      
      span.header__user= isUserName