include ../like/like.pug

mixin comment(options)
  - const img = options.img ? options.img : '../../static/source/image_murad48.png'
  - const name = options.name ? options.name : 'Мурад Сарафанов'
  - const days = options.days ? options.days : '5'
  - const comment = options.comment ? options.comment : 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
  
  .comment
    .comment__user-wrp
      img(class='comment__user-foto' src=img alt='avatar')
      p.comment__user 
        span(class='comment__user-name')=name
        <br>
        if (days==7)
          span неделю назад 
        else 
          span=`${days} дней назад`

    .comment__info-wrp
      .comment__info-like
        +like({liked: true, value: '12'})
      p.comment__info-text=comment