.registration {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 380px;
  height: 646px;
  padding: 0 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.registration__title {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: Quicksand;
}

.registration__text-field {
  margin-bottom: 10px;
}
.registration__radio {
  margin-bottom: 23px;
}

.registration__date-field {
  margin-bottom: 20px;
}
.registration__toggle-field {
  margin-bottom: 24px;
}
.registration__button-field {
  margin-bottom: 30px;
}
.registration__small-title {
  margin-bottom: 5px;
}

.registration__footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 320px;
  height: 44px;
}
.registration__have-account {
  display: flex;
  align-items: center;
  color: black;
  font-weight: normal;
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  line-height: 18px;
  text-align: center;
}
