.registration {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: rem(380);
  height: rem(646);
  padding: 0 rem(30);
  background: #ffffff;
  border: rem(1) solid rgba(0, 0, 0, 0.12);
  border-radius: rem(4);
  box-shadow: 0 0 rem(25)rgba(0, 0, 0, 0.2);
}

.registration__title {
  margin: 0;
  margin-top: rem(40);
  margin-bottom: rem(20);
  font-family: Quicksand;
  font-weight: bold;
  font-size: rem(25);
  line-height: rem(30);
  color: #1F2041;
  box-sizing: border-box;
}

.registration__text-field {
  margin-bottom: rem(10);
}

.registration__radio {
  margin-bottom: rem(23);
}

.registration__date-field {
  margin-bottom: rem(20);
}

.registration__toggle-field {
  margin-bottom: rem(24);
}

.registration__button-field {
  margin-bottom: rem(30);
}

.registration__small-title {
  margin-bottom: rem(5);
  font-family: Montserrat;
  font-weight: bold;
  font-size: rem(12);
  line-height: rem(15);
  text-transform: uppercase;
  color: #1F2041;
}

.registration__footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: rem(320);
  height: rem(44);
}

.registration__have-account {
  display: flex;
  align-items: center;
  color: black;
  font-weight: normal;
  font-size: rem(14);
  font-family: Montserrat;
  font-style: normal;
  line-height: rem(18);
  text-align: center;
}
