mixin registration-card(options)
    .registration-wrp
        h1.registration__title Регистрация аккаунта
        +text_field({type:'text'})
        +text_field({type:'text', placeholder: 'Фамилия'})
        +radio({})
        h3 дата рождения
        +text_field({type:'date'})
        h3 данные для входа в сервис
        +text_field({type:'email'})
        +text_field({type:'password'})
        +toggle({})
        +button({Big:true})
        p.registration__footer
            span Уже есть аккаунт на Toxin
            +button({White:true, text: 'Войти'})
