mixin registration-card(options)
  form.registration
    h1.registration__title Регистрация аккаунта
    .registration__text-field
      +text_field({type:'text'})
    .registration__text-field
      +text_field({type:'text', placeholder: 'Фамилия'})
    .registration__radio
      +radio({})
    h2.registration__small-title дата рождения
    .registration__date-field
      +text_field({type:'date'})
    h2.registration__small-title данные для входа в сервис
    .registration__text-field
      +text_field({type:'email'})
    .registration__text-field
      +text_field({type:'password'})
    .registration__toggle-field
      +toggle({})
    .registration__button-field
      +button({big: true})
    p.registration__footer
      span.registration__have-account Уже есть аккаунт на Toxin
      +button({white: true, text: 'Войти', href: 'sign_in.html'})
