.footer__logo {
  
  @media screen and (max-width: 950px) {
    display: flex;
    flex-basis: 100%;
  }
  @media screen and (max-width: 768px) {
    width: max-content;
    margin: rem(110) auto 0;
  }
  
  &-info {
    width: rem(260);
    margin-top: rem(13);
    color: $Dark75;
    font-weight: 400;
    font-size: rem(14);
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    line-height: rem(24);
  
    @media screen and (max-width: 950px) {
      width: auto;
      margin: 0;
      margin-top: rem(7);
      margin-left: rem(5);
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}