include ../dropdown-buttons/dropdown-buttons.pug

mixin dropdown-company(options)
  -
    const {
      size = '',
      opened = false,
      count1 = '0',
      count2 = '0',
      count3 = '0',
      text = 'Сколько гостей'
    } = options

    const cleanButtonClass = (count1 > 0 || count2 > 0 || count3 > 0) ? '' : 'dropdown-company__clean-button_disabled'
  
  div(class=`dropdown-company js-dropdown-company ${(size === 'big') ? 'dropdown-company_size_big' : ''}`)
    .dropdown-company__open
      +dropdown-open({opacity: 75})
    p(class=`dropdown-company__main js-dropdown-company__main ${opened ? 'dropdown-company__main_expanded' : ''}`)=text

    ul(class=`dropdown-company__list ${opened ? 'dropdown-company__list_expanded' : ''}`)
      li.dropdown-company__item.dropdown-company__item-fadult 
        span.dropdown-company__item-name взрослые
        +dropdown-buttons({id: 'js-fadult', value: count1})
      li.dropdown-company__item.dropdown-company__item-child 
        span.dropdown-company__item-name дети
        +dropdown-buttons({id: 'js-child', value: count2}) 
      li.dropdown-company__item.dropdown-company__item-baby 
        span.dropdown-company__item-name младенцы
        +dropdown-buttons({id: 'js-baby', value: count3})
      li.dropdown-company__item.dropdown-company__item-footer
        a.dropdown-company__clean-button.js-dropdown-company__clean-button(class= cleanButtonClass) Очистить
        a.dropdown-company__apply-button.js-dropdown-company__apply-button Применить