.dropdown-company {
  position: relative;
  width: rem(266);
  min-width: rem(266);
  background: white;
  border-radius: rem(4);
  
  &_size_big {
    width: rem(320);
  }
 
  &__open {
    position: absolute;
    top: rem(11);
    right: rem(16);
  }

  &__main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: rem(44);
    padding-right: rem(7);
    padding-left: rem(15);
    color: $Dark75;
    font-weight: 400;
    font-size: rem(14);
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    line-height: rem(43);
    border: rem(1) solid $Dark25;
    border-top-left-radius: rem(2);
    border-top-right-radius: rem(2);
  
    &_expanded {
      border-color: $Dark50;
    }
  }

  &__list {
    display: none;
    width: 100%;
    min-height: rem(158);
    padding-top: rem(5);
    padding-right: rem(6);
    padding-left: rem(15);
    color: $Dark;
    font-weight: 700;
    font-size: rem(12);
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    line-height: rem(15);
    text-transform: uppercase;
    list-style: none;
    border: rem(1) solid $Dark25;
    border-top: 0;
    border-bottom-right-radius: rem(2);
    border-bottom-left-radius: rem(2);
    
    &_expanded {
      position: absolute;
      z-index: 99;
      display: block;
      background: white;
      border-color: $Dark50;
    }
  }

  &__list-company {
    min-height: rem(158);
  }
  
  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-height: rem(30);
    margin-bottom: rem(7);
    line-height: rem(30);
    
    &_theme_footer {
      margin-top: rem(14);
      margin-bottom: 0;
    }
    
    &-name {
      max-width: rem(140);
    }
  }
  
  &__clean-button {
    color: $Dark50;
    cursor: pointer;

    &_disabled {
      display: none;
    }
  }
  
  
  &__apply-button {
    position: absolute;
    right: 0;
    color: $Purple;
    cursor: pointer;
  }
}