.button {
  position: relative;
  display: block;
  width: rem(99);
  height: rem(44);
  color: white;
  font-weight: 700;
  font-size: rem(12);
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  line-height: rem(44);
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: rem(22);
  cursor: pointer;

  &:hover {
    background: linear-gradient(180deg, rgba(#bc9cff, 0.5) 0%, rgba(#8ba4f9, 0.5) 100%);
  }

  &:active {
    .button__text {
      color: $Dark50;
    }
  }

  &_size_big {
    width: rem(320);
  }
  
  &_size_middle {
    width: rem(196);
    height: rem(34);
    line-height: rem(34);
  }
  
  &_size_small {
    width: rem(87);
    height: rem(34);
  }
  
  &_theme_white {
    padding-top: rem(2);
    color: $Purple;
  
    .button__text {
      display: block;
      width: rem(95);
      margin: 0 auto;
      color: $Purple;
      line-height: rem(40);
      background-color: white;
      border-radius: rem(22);
      opacity: 1;
    }
  
    &.button_size_small {
      .button__text {
        top: rem(2);
        width: rem(83);
        height: rem(30);
        line-height: rem(30);
        border-radius: rem(22);
      }
    }
  }

  &__arrow {
    position: absolute;
    top: rem(13);
    right: rem(13);
  }
}